{{- if or .user_setup .secrets -}}
{{- $brew_prefix := joinPath (printf "%s" .chezmoi.destDir) ".brew" -}}
{{- if not (stat (joinPath $brew_prefix "bin" "brew")) -}}
#!/bin/sh

HOMEBREW_PREFIX="${HOMEBREW_PREFIX:-$HOME/.brew}"
PATH="$HOMEBREW_PREFIX/bin:$PATH"

echo >&2 "Installing homebrew"
"$CHEZMOI_WORKING_TREE/scripts/macos/install-brew" -s "$HOMEBREW_PREFIX" || {
    rm -rf "$HOMEBREW_PREFIX"
    echo >&2 "Failed to install homebrew"
    exit 1
}
{{- end }}
{{- end }}
