{{- if .secrets -}}
{{-   $ageKeyPath := .chezmoi.config.age.identity -}}
{{-   $st := stat $ageKeyPath -}}
{{-   if or (not $st) (eq $st.size 0) -}}
{{-     $op := includeTemplate "find-tool" (dict "root" . "tool" "op") -}}
{{-     if not $op -}}
#!/bin/sh
# Age key: {{ $st }}

HOMEBREW_PREFIX="${HOMEBREW_PREFIX:-$HOME/.brew}"
PATH="$HOMEBREW_PREFIX/bin:$PATH"

brew install 1password-cli
{{-     end -}}
{{-   end -}}
{{- end -}}
