{{- if .secrets -}}
{{-   $ageKeyPath := .chezmoi.config.age.identity -}}
{{-   $st := stat $ageKeyPath -}}
{{-   if or (not $st) (eq $st.size 0) -}}
{{-     $op := includeTemplate "find-tool" (dict "root" . "tool" "op") -}}
{{-     if not $op -}}
#!/bin/sh
# Age key: {{ $st }}

HOMEBREW_PREFIX="${HOMEBREW_PREFIX:-$HOME/.brew}"
PATH="$HOMEBREW_PREFIX/bin:$PATH"

if ! [ -x "$HOMEBREW_PREFIX/bin/brew" ]; then
    echo >&2 "Installing homebrew"
    "$CHEZMOI_WORKING_TREE/scripts/macos/install-brew" -s "$HOMEBREW_PREFIX" || {
        rm -rf "$HOMEBREW_PREFIX"
        echo >&2 "Failed to install homebrew"
        exit 1
    }
fi

brew install 1password-cli
{{-     end -}}
{{-   end -}}
{{- end -}}
