{{- $servers := (joinPath .chezmoi.workingTree "settings/pi/mcp.json" | include | fromJson) -}}
{{- if and .personal .secrets -}}
{{-   $_ := set $servers "firecrawl" (dict "type" "stdio" "command" "npx" "args" (list "-y" "firecrawl-mcp") "env" (dict "FIRECRAWL_API_KEY" (joinPath .chezmoi.workingTree "settings/agents/firecrawl-api-key.age" | include | decrypt | trim))) -}}
{{-   $_ := set $servers "kagi" (dict "type" "stdio" "command" "uvx" "args" (list "kagimcp") "env" (dict "KAGI_API_KEY" (joinPath .chezmoi.workingTree "settings/agents/kagi-api-key.age" | include | decrypt | trim))) -}}
{{- end -}}
{{- if and .work .secrets -}}
{{-   range $k, $v := (joinPath .chezmoi.workingTree "settings/pi/work-mcp.json.age" | include | decrypt | fromJson) -}}
{{-     $_ := set $servers $k $v -}}
{{-   end -}}
{{- end -}}
{{- if $servers -}}
{{ dict "mcpServers" $servers | toPrettyJson }}
{{- end -}}
