{{- if .user_setup -}}
{{- $uv := includeTemplate "find-tool" (dict "root" . "tool" "uv") -}}
{{- if and (not .use_nix) $uv -}}
{{- $git_imerge := includeTemplate "find-tool" (dict "root" . "tool" "git-imerge") -}}
{{- $git_revise := includeTemplate "find-tool" (dict "root" . "tool" "git-revise") -}}
{{- $unar := includeTemplate "find-tool" (dict "root" . "tool" "unar") -}}
{{- $dtrx := includeTemplate "find-tool" (dict "root" . "tool" "dtrx") -}}
{{- if or (not $git_imerge) (not $git_revise) (and (not $unar) (not $dtrx)) -}}
#!/usr/bin/env bash
set -euo pipefail

{{- if not $git_imerge }}
"{{ $uv }}" tool install git-imerge
{{- end }}

{{- if not $git_revise }}
"{{ $uv }}" tool install git-revise
{{- end }}

{{- if and (not $unar) (not $dtrx) }}
"{{ $uv }}" tool install dtrx
{{- end }}
{{- end }}
{{- end }}
{{- end }}
