{{- if and .user_setup (not .ephemeral) (not (env "CONTAINER_ID")) (not .steamdeck) -}}
{{-   $devpod := includeTemplate "find-tool" (dict "root" . "tool" "devpod") -}}
{{-   if $devpod -}}
#!/usr/bin/env bash
set -euo pipefail

#   configure-devpod.sh hash: {{ include (joinPath .chezmoi.workingTree "scripts/configure-devpod.sh") | sha256sum }}

"$CHEZMOI_WORKING_TREE/scripts/configure-devpod.sh" \
    "https://github.com/kergoth/dotfiles" \
    "script/setup" \
    "$HOME/.ssh/config.d/devpod" \
    "docker" \
    "zed" || :
{{-   end }}
{{- end }}
