{{- if .secrets -}}
{{-   $ageKeyPath := .chezmoi.config.age.identity -}}
{{-   $chezmoiGithubTokenPath := joinPath (printf "%s" .chezmoi.destDir) ".config" "chezmoi_github_token" -}}
{{-   $st := stat $ageKeyPath -}}
{{-   $github_st := stat $chezmoiGithubTokenPath -}}
{{-   if and $st (ne $st.size 0) (or (not $github_st) (eq $github_st.size 0)) -}}
#!/usr/bin/env bash
# Bootstrap access to the GitHub token used for Chezmoi externals with age

src="$CHEZMOI_SOURCE_DIR/dot_config/encrypted_private_chezmoi_github_token.age"
dest="$CHEZMOI_HOME_DIR/.config/chezmoi_github_token"
mkdir -p "$CHEZMOI_HOME_DIR/.config"
chezmoi decrypt <"$src" >"$dest"
chmod 0600 "$dest"
echo >&2 "Bootstrapped chezmoi github token at $dest"
{{   end -}}
{{- end -}}
