#!/usr/bin/env bash
{{- if and .secrets (not .ephemeral) (or .personal .work) }}
{{-   $destDir := printf "%s" .chezmoi.destDir }}
{{-   $sourceDir := .chezmoi.sourceDir }}
{{-   $key := "" }}
{{-   $config := "" }}
{{-   $keySrc := "" }}
{{-   $configSrc := "" }}
{{-   $mainConfigSrc := joinPath $sourceDir "private_dot_ssh" "private_config.tmpl" }}
{{-   if .work }}
{{-     $key = joinPath $destDir ".ssh" "keys" "work" }}
{{-     $config = joinPath $destDir ".ssh" "config.d" "work" }}
{{-     $keySrc = joinPath $sourceDir "private_dot_ssh" "private_keys" "encrypted_private_work.age" }}
{{-     $configSrc = joinPath $sourceDir "private_dot_ssh" "config.d" "encrypted_work.age" }}
{{-   else if .personal }}
{{-     $key = joinPath $destDir ".ssh" "keys" "frey" }}
{{-     $config = joinPath $destDir ".ssh" "config.d" "personal" }}
{{-     $keySrc = joinPath $sourceDir "private_dot_ssh" "private_keys" "encrypted_private_frey.age" }}
{{-     $configSrc = joinPath $sourceDir "private_dot_ssh" "config.d" "encrypted_personal.age" }}
{{-   end }}
# Ensure SSH is configured and keys are available before externals try to
# clone private repos
#
# Re-run when key existence changes:
#   Does key exist?: {{ ne (stat $key) nil }}

SSH_KEY="{{ .chezmoi.destDir }}/.ssh/keys/frey"

apply_file() {
    local src="$1"
    local dest="$2"
    if [ -s "$dest" ]; then
        return 0
    fi

    mkdir -p "$(dirname "$dest")"

    echo >&2 "Populating $dest"
    case "$src" in
    *.tmpl)
        chezmoi execute-template <"$src" >"$dest" || {
            rm -f "$dest"
            echo >&2 "Error processing template $src"
            return 1
        }
        ;;
    *.age)
        chezmoi decrypt "$src" >"$dest" || {
            rm -f "$dest"
            echo >&2 "Error decrypting $src"
            return 1
        }
        ;;
    *)
        cp -af "$src" "$dest"
        ;;
    esac
    chmod 0600 "$dest"
}

if ! [ -s "$SSH_KEY" ]; then
    echo >&2 "Bootstrapping SSH keys for chezmoi private repository access"

    SSH_DIR="$CHEZMOI_DEST_DIR/.ssh"

    mkdir -p "$SSH_DIR/keys" "$SSH_DIR/config.d"
    chmod 0700 "$SSH_DIR" "$SSH_DIR/keys" "$SSH_DIR/config.d"

    apply_file "{{ $keySrc }}" "$key" || exit 1
    apply_file "{{ $configSrc }}" "$config" || exit 1
    rm -f "$SSH_DIR/config"
    apply_file "{{ $mainConfigSrc }}" "$SSH_DIR/config" || exit 1

    echo >&2 "SSH keys bootstrap complete"
fi
{{- end }}
