{{- $vim := includeTemplate "find-tool" (dict "root" . "tool" "vim") }}
{{- if not $vim -}}
{{-   $vim := includeTemplate "find-tool" (dict "root" . "tool" "nvim") }}
{{- end }}
{{- $update := joinPath (printf "%s" .chezmoi.destDir) ".config" "vim" "script" "update" -}}
{{- if and $vim $update -}}
#!/bin/sh

{{ $update }} -b
{{- end }}
