{{- if and .user_setup (not .use_nix) (eq .osid "linux-chimera") -}}
{{-   $cargo_tools := dict -}}
{{-   if ne .chezmoi.arch "amd64" -}}
{{-     $_ := set $cargo_tools "fclones" "fclones" -}}
{{-   end -}}
{{-   if $cargo_tools -}}
{{-     $to_install := includeTemplate "packagesForMissingTools" (dict "root" . "packages" $cargo_tools) | fromJson -}}
{{-     if $to_install -}}
{{-       $cargo := includeTemplate "find-tool" (dict "root" . "tool" "cargo") -}}
{{-       if $cargo -}}
#!/bin/sh
set -eu

{{-         range $to_install }}
echo >&2 "Installing {{ . }}"
"{{ $cargo }}" install --locked {{ . }}
{{-         end }}
{{-       end }}
{{-     end }}
{{-   end }}
{{- end }}