{{- if and .user_setup (not .use_nix) (or (eq .osid "linux-chimera") .steamdeck) -}}
{{-   $eget := includeTemplate "find-tool" (dict "root" . "tool" "eget") -}}
{{-   if not $eget -}}
#!/bin/sh
set -eu

echo >&2 "Installing eget"
tmpdir=$(mktemp -d)
trap 'rm -rf "$tmpdir"' EXIT
curl -fsSL -o "$tmpdir/eget.sh" https://zyedidia.github.io/eget.sh
mkdir -p "$HOME/.local/bin"
cd "$tmpdir"
"{{ .chezmoi.sourceDir }}/scripts/download-github-release" -p {{ .chezmoi.os }} zyedidia/eget
tar -zxf eget-*.tar.gz eget
mv eget "$HOME/.local/bin/"
{{-   end }}
{{- end }}
