{{- if and .user_setup (not .use_nix) (eq .osid "linux-chimera") -}}
{{-   $cargo_tools := dict
        "choose" "choose"
        "dua" "dua-cli"
        "fclones" "fclones"
        "sd" "sd" -}}
{{-   $to_install := includeTemplate "packagesForMissingTools" (dict "root" . "packages" $cargo_tools) | fromJson -}}
{{-   if $to_install -}}
{{-     $cargo := includeTemplate "find-tool" (dict "root" . "tool" "cargo") -}}
{{-     if $cargo -}}
#!/bin/sh
set -eu

{{-       range $to_install }}
echo >&2 "Installing {{ . }}"
"{{ $cargo }}" install --locked {{ . }}
{{-       end }}
{{-     end }}
{{-   end }}
{{- end }}
