{{- $nix := includeTemplate "find-tool" (dict "root" . "tool" "nix") -}}
{{- if and .user_setup .use_nix $nix -}}
#!/usr/bin/env bash
# Apply home manager configuration
#
# Re-run when home-manager configuration changes:
#   home.nix hash: {{ includeTemplate "dot_config/home-manager/home.nix.tmpl" . | sha256sum }}
#   flake.nix hash: {{ includeTemplate "dot_config/home-manager/flake.nix.tmpl" . | sha256sum }}
#   flake.lock hash: {{ include "dot_config/home-manager/private_flake.lock" | sha256sum }}
# Re-run after installing nix:
#   nix binary path: {{ $nix }}

set -euo pipefail

find "$CHEZMOI_SOURCE_DIR/dot_config/home-manager" -name \*.nix -o -name \*.nix.tmpl -o -name \*.lock |
    while read -r src; do
        file="${src#"$CHEZMOI_SOURCE_DIR/dot_config/"}"
        dest="$CHEZMOI_HOME_DIR/.config/${file%.tmpl}"
        case "$file" in
            */private_*)
                private=1
                base=$(basename "$dest")
                dest="$(dirname "$dest")/${base#private_}"
                ;;
            *)
                private=0
                ;;
        esac

        if ! [ -e "$dest" ] || [ "$src" -nt "$dest" ]; then
            mkdir -p "$(dirname "$dest")"
            case "$file" in
            *.tmpl)
                chezmoi execute-template <"$src" >"$dest" || {
                    rm -f "$dest"
                    echo >&2 "Error processing chezmoi template $src"
                    exit 1
                }
                if [ "$private" -eq 1 ]; then
                    chmod go-rwx "$dest"
                fi
                ;;
            *)
                cp -af "$src" "$dest"
                ;;
            esac
        fi
    done

echo >&2 "Applying home manager configuration"
export USER="${USER:-${LOGNAME:-$(whoami)}}"
HOME="$CHEZMOI_HOME_DIR" "$nix" run 'home-manager/master' -- switch
{{- end -}}
