{{- $signingKey := ""}}
{{- if .secrets -}}
{{-   if .personal -}}
{{-     $signingKey = "934796281287D8BD66EF26F4BCC304A4E9BFE3CF" }}
{{-   else if .work }}
{{-     $signingKey = "4FF90C5834F7D0290B9C254AA3F86002F03EE587" }}
{{-   end }}
{{- end }}
# vim: set noet sts=0 ft=gitconfig:
[core]
	excludesfile = ~/.config/git/ignore
	attributesfile = ~/.config/git/attributes
	whitespace = cr-at-eol
	autocrlf = input

{{ if eq .chezmoi.os "windows" -}}
[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[credential]
	helper = manager	
{{ else -}}
[pager]
	diff = git-pager
	log = git-pager
	reflog = git-pager
	show = git-pager

[interactive]
	diffFilter = git-diff-filter
{{- end }}

[init]
	defaultBranch = main

[user]
	name = {{ .name }}
	email = {{ .email }}

[sendemail]
	from = {{ .email }}
{{- if eq .email "kergoth@gmail.com" }}
	identity = gmail
{{- end }}
{{- if eq .email "chris.larson@siemens.com" }}
	identity = siemens
{{- end }}

[sendemail.gmail]
	smtpserver = smtp.googlemail.com
	smtpencryption = tls
	smtpserverport = 587
	smtpuser = kergoth@gmail.com

[sendemail.siemens]
        smtpEncryption = tls
        smtpServer = smtp.siemens.com
        smtpUser = i4plIBF6LKUYv76R
        smtpServerPort = 587

{{ if $signingKey -}}
[gpg]
	signingKey = {{ $signingKey }}

[commit]
	gpgSign = true
{{- end }}

[interactive]
	singlekey = true

[delta]
	syntax-theme = Dracula
	navigate = true

[advice]
	detachedHead = false

[branch]
	autoSetupRebase = always
	sort = -committerdate

[column]
	branch = auto

[fetch]
	prune = true

[github]
	user = {{ .github_username }}

[pretty]
	lg = format:%Cred%h%Creset %Cgreen%ad%Creset%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset

[pull]
	ff = only

[push]
	autoSetupRemote = true

[rebase]
	autosquash = true
	autostash = true

[revise]
	autoSquash = true

[status]
	submodulesummary = true

[diff]
	renames = copy
	colorMoved = default
	mnemonicprefix = true
	ignoreSubmodules = dirty
	compactionHeuristic = true
	algorithm = histogram

[merge]
	tool = wrapper
	summary = true
	conflictstyle = zdiff3

[mergetool.wrapper]
	cmd = . $(which git-mergetool-wrapper)
	default = vimdiff

[mergetool.vscode]
    cmd = code --wait $MERGED

[tar "tar.xz"]
	command = xz -c

[submodule]
	fetchJobs = 4

[pack]
	threads = 3

[log]
	decorate = short
	excludeDecoration = refs/branchless/*
	excludeDecoration = refs/stash

[commit]
	verbose = true

[color]
	ui = auto

[color "diff"]
	commit = 227 bold
	meta = 227
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red

[notes]
	rewriteRef = refs/notes/*
	rewriteMode = concatenate
	displayRef = refs/notes/*

[rerere]
	enabled = 1

[help]
	autocorrect = 1

[url "git@push.yoctoproject.org:"]
	pushInsteadOf = git://git.yoctoproject.org/

[url "ssh://git@"]
	pushInsteadOf = git://

[url "https://github.com"]
	insteadOf = git://github.com

[include]
	path = config.alias
	path = config.local

[includeIf "gitdir:/"]
	path = config.linux

[includeIf "gitdir/i:C:/"]
	path = config.windows

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[ghq]
	root = $GHQ_ROOT
	root = $GOPATH/src

# Invoke as `ghq import starred motemen`
[ghq "import"]
	starred = github-list-starred

[fixup]
	menu = fzf --height '60%' \
	            --bind 'tab:toggle-preview' \
	            --preview 'git show --color {+1}' \
	            --preview-window=up:80% \
	            --prompt 'Select commit: '
