dialog {
	min-height: 300px;
	width: 600px;
}
#style-url-link, #userstyles-link, #post-to-userstyles {
	display: none;
}
#code {
	margin-top: 0;
	font-family: monospace;
}
#basic-view, #advanced-view {
	display: none;
}
#code-buttons {
	margin-top: 0.5em;
}
#code-buttons > * {
	margin-bottom: 0;
	margin-right: 0;
}
#applies-to {
	margin-top: 0.5em;
}
li {
	-moz-user-select: -moz-none;
	cursor: default;
}
#allow-updates {
	margin-left: 1em;
}
#rainbowpicker-detect, #pick-color-rainbowpicker {
	display: none;
}
