dialog {
	width: 600px;
	height: 400px;
}
treechildren::-moz-tree-checkbox(checked) {
    /* css for checked cells */
    list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
} 
#no-styles {
	margin-top: 1em;
}
#help-link {
	display: none;
}
/*#filter {
	max-width: 20em;
}*/
#add {
	list-style-image: url("chrome://stylish/skin/add.png");
}
#edit {
	list-style-image: url("chrome://stylish/skin/edit.png");
}
#delete {
	list-style-image: url("chrome://stylish/skin/delete.png");
}
#update {
	list-style-image: url("chrome://stylish/skin/update.png");
}
#help {
	list-style-image: url("chrome://stylish/skin/help.png");
}
toolbarbutton {
	-moz-image-region: rect(0, 24px, 24px, 0);
}
toolbarbutton[disabled="true"] {
	-moz-image-region: rect(72px, 24px, 96px, 0);
}
toolbarbutton:hover:not([disabled="true"]) {
	-moz-image-region: rect(24px, 24px, 48px, 0);
}
toolbarbutton:hover:active:not([disabled="true"]) {
	-moz-image-region: rect(48px, 24px, 72px, 0);
}
