[submodule "config/zsh/.zprezto"]
	path = config/zsh/.zprezto
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "config/sublime-text-2/Packages/Theme - Soda"]
	path = config/sublime-text-2/Packages/Theme - Soda
	url = git://github.com/buymeasoda/soda-theme.git
[submodule "config/sublime-text-2/Packages/GoSublime"]
	path = config/sublime-text-2/Packages/GoSublime
	url = git://github.com/DisposaBoy/GoSublime.git
[submodule "config/vim/bundle/pathogen"]
	path = config/vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "config/vim/bundle/commentary"]
	path = config/vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "config/vim/bundle/powerline"]
	path = config/vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "config/vim/bundle/smartinput"]
	path = config/vim/bundle/smartinput
	url = git://github.com/kana/vim-smartinput.git
[submodule "config/vim/bundle/command-t"]
	path = config/vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "config/vim/bundle/vimux"]
	path = config/vim/bundle/vimux
	url = git://github.com/benmills/vimux.git
[submodule "config/vim/bundle/golang"]
	path = config/vim/bundle/golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "config/vim/bundle/bitbake"]
	path = config/vim/bundle/bitbake
	url = git://github.com/kergoth/vim-bitbake.git
[submodule "config/vim/bundle/modeliner"]
	path = config/vim/bundle/modeliner
	url = git://github.com/vim-scripts/Modeliner.git
