[user]
	name = Chris Larson
	email = clarson@kergoth.com
[gui]
	fontdiff = -family fixed -size 10 -weight normal -slant roman -underline 0 -overstrike 0

[alias]
	ci = commit
	co = checkout
        blameview = !git-blameview
        code-follow = !git-code-follow

[code-follow]
        color = auto
[show]
	color = auto
[diff]
	color = auto
[status]
	color = auto

[merge]
        summary = true

[pack]
        threads = 3

[gc]
        packrefs = false
