* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
docs/tour/terminal-workspace-light.png filter=lfs diff=lfs merge=lfs -text
docs/tour/tmux-statusline-dark.png filter=lfs diff=lfs merge=lfs -text
docs/tour/tmux-statusline-light.png filter=lfs diff=lfs merge=lfs -text
docs/tour/git-show-dark.png filter=lfs diff=lfs merge=lfs -text
docs/tour/git-show-light.png filter=lfs diff=lfs merge=lfs -text
docs/tour/git-usage-light.png filter=lfs diff=lfs merge=lfs -text
docs/tour/pi-statusline-light.png filter=lfs diff=lfs merge=lfs -text
docs/tour/vim-dark.png filter=lfs diff=lfs merge=lfs -text
docs/tour/vim-light.png filter=lfs diff=lfs merge=lfs -text
docs/tour/git-usage-dark.png filter=lfs diff=lfs merge=lfs -text
docs/tour/pi-statusline-dark.png filter=lfs diff=lfs merge=lfs -text
docs/tour/terminal-workspace-dark.png filter=lfs diff=lfs merge=lfs -text
docs/tour/zed-dark.png filter=lfs diff=lfs merge=lfs -text
docs/tour/zed-light.png filter=lfs diff=lfs merge=lfs -text
docs/tour/git-brstat-dark.png filter=lfs diff=lfs merge=lfs -text
docs/tour/git-brstat-light.png filter=lfs diff=lfs merge=lfs -text
