[core]
	excludesfile = /home/kergoth/.gitexcludes
	whitespace = cr-at-eol

[user]
	name = Chris Larson
	email = chris_larson@mentor.com
[gui]
	fontdiff = -family fixed -size 10 -weight normal -slant roman -underline 0 -overstrike 0

[alias]
    ci = commit
    co = checkout
    st = status

[code-follow]
        color = auto
[show]
	color = auto
[diff]
	color = auto
[status]
	color = auto

[merge]
        summary = true
	tool = meld

[pack]
        threads = 3

[sendemail]
        identity = gmail

[sendemail.gmail]
        smtpserver = smtp.gmail.com
        smtpserverport = 587
        smtpencryption = tls
        smtpuser = kergoth@gmail.com

[sendemail.mentor]
        smtpserver = na2-mail.mgc.mentorg.com
        smtpuser = clarson
[color]
	ui = auto
