[submodule "config/zsh/.zprezto"]
	path = config/zsh/.zprezto
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "config/sublime-text-2/Packages/Theme - Soda"]
	path = config/sublime-text-2/Packages/Theme - Soda
	url = git://github.com/buymeasoda/soda-theme.git
[submodule "config/sublime-text-2/Packages/GoSublime"]
	path = config/sublime-text-2/Packages/GoSublime
	url = git://github.com/DisposaBoy/GoSublime.git
[submodule "config/vim/bundle/pathogen"]
	path = config/vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "config/vim/bundle/vim-commentary"]
	path = config/vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "config/vim/bundle/vim-powerline"]
	path = config/vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "config/vim/bundle/vim-smartinput"]
	path = config/vim/bundle/vim-smartinput
	url = git://github.com/kana/vim-smartinput.git
[submodule "config/vim/bundle/command-t"]
	path = config/vim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
[submodule "config/vim/bundle/vimux"]
	path = config/vim/bundle/vimux
	url = git://github.com/benmills/vimux.git
[submodule "config/vim/bundle/vim-golang"]
	path = config/vim/bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "config/vim/bundle/vim-bitbake"]
	path = config/vim/bundle/vim-bitbake
	url = git://github.com/kergoth/vim-bitbake.git
[submodule "config/vim/bundle/Modeliner"]
	path = config/vim/bundle/Modeliner
	url = git://github.com/vim-scripts/Modeliner.git
