Xft.hintstyle: hintfull
Xft.hinting: true
Xft.rgba: rgb
Xft.antialias: true

Rxvt*reverseVideo: false
Rxvt*background: black
Rxvt*foreground: grey90
! Rxvt*transparent: true
! Rxvt*inheritPixmap: true
! Rxvt*tintColor: black
! Rxvt*shading: 90
Rxvt*transpscrollbar: true
Rxvt*scrollBar: false
Rxvt*colorBDMode: false
Rxvt*colorULMode: false
Rxvt*loginShell: true
Rxvt*cursorColor: yellow
Rxvt*jumpScroll: true
Rxvt*saveLines: 3000
Rxvt*scrollTtyOutput: false
Rxvt*scrollKey: false
Rxvt*geometry: 96x50

Urxvt*depth: 32
Urxvt*background: rgba:0000/0000/0000/dddd

URxvt*termName: rxvt-unicode
URxvt*font: xft:DejaVu Sans Mono:pixelsize=15
!URxvt.font: xft:Envy Code R:pixelsize=15
URxvt.perl-ext: default,matcher
URxvt.urlLauncher: firefox

! Vim*fontList: DejaVu Sans Mono 15
Vim*fontList: Leonine Sans Mono 15

mrxvt*xft: true
mrxvt*xftRGBA: rgb
mrxvt*xftHinting: true
mrxvt*xftAutoHint: false
mrxvt*xftFont: Leonine Sans Mono
mrxvt*xftNomFont: true
mrxvt*xftSize: 10
mrxvt*xftAntialias: true

mrxvt*geometry: 96x50
mrxvt*showMenu: false
mrxvt*scrollBar: false
mrxvt*foreground: grey
mrxvt*background: black
mrxvt*transparent: false
mrxvt*hideTabbar: true
mrxvt*hideButtons: true
mrxvt*nonBoldFont: true
