Xft.hintstyle: hintfull
Xft.hinting: true
Xft.rgba: rgb
Xft.antialias: true

rxvt*reverseVideo: false
rxvt*background: black
rxvt*foreground: grey
rxvt*shading: 10
rxvt*transparent: true
rxvt*transpscrollbar: true
rxvt*scrollBar: false
rxvt*colorBDMode:        false
rxvt*colorULMode:        false
rxvt*loginShell:         true
rxvt*cursorColor:        yellow
rxvt*jumpScroll:         true
rxvt*saveLines:          3000
rxvt*scrollBar:          false
rxvt*scrollTtyOutput:    false
rxvt*scrollKey:          false
rxvt*geometry:112x50

urxvt*font: xft:Leonine Sans Mono:pixelsize=13,\
            -misc-fixed-bold-r-normal--15-140-75-75-c-90-iso10646-1,\
            -misc-fixed-medium-r-normal--15-140-75-75-c-90-iso10646-1, \
            [codeset=JISX0208]xft:Kochi Gothic:antialias=false, \
            xft:Code2000:antialias=false

urxvt*termName: rxvt-unicode

mrxvt*xft: true
mrxvt*xftRGBA: rgb
mrxvt*xftHinting: true
mrxvt*xftAutoHint: false
mrxvt*xftFont: Leonine Sans Mono
mrxvt*xftNomFont: true
mrxvt*xftSize: 10
mrxvt*xftAntialias: true

mrxvt*geometry: 112x50
mrxvt*showMenu: false
mrxvt*scrollBar: false
mrxvt*foreground: grey
mrxvt*background: black
mrxvt*transparent: false
mrxvt*hideTabbar: true
mrxvt*hideButtons: true
mrxvt*nonBoldFont: true
