{{- /* If we're using secrets, the file exists, and is newer than the refresh */ -}}
{{- /* period, use it as is, otherwise include and process our template file to */ -}}
{{- /* generate it. */ -}}
{{- if and .secrets (glob .chezmoi.targetFile) -}}
{{-   $refresh_period := 0 -}}
{{-   if not (env "CHEZMOI_FORCE_1PASSWORD_REFRESH") -}}
{{- /*    Default of 1 week, or 604800 seconds. */ -}}
{{-     $refresh_period = dig "1password" "refreshPeriod" 604800 . -}}
{{-   end -}}
{{-   $file_age_in_seconds := sub (now | unixEpoch) (stat .chezmoi.targetFile).modTime -}}
{{-   if gt $file_age_in_seconds $refresh_period -}}
{{-     includeTemplate (joinPath .chezmoi.workingTree .settingsFile) . -}}
{{-   else -}}
{{-     include .chezmoi.targetFile -}}
{{-   end -}}
{{- else -}}
{{-   includeTemplate (joinPath .chezmoi.workingTree .settingsFile) . -}}
{{- end -}}
