{{- /* If we're using secrets, the file exists, and it has been updated within the refresh */ -}}
{{- /* period, use it as is. */ -}}
{{- $include_existing := false -}}
{{- if and .secrets (stat .chezmoi.targetFile) (not (env "CHEZMOI_FORCE_1PASSWORD_REFRESH")) -}}
{{- /* The default refresh period is 1 week, or 604800 seconds. */ -}}
{{-   $refresh_period := dig "1password" "refreshPeriod" 604800 . -}}
{{-   $file_age_in_seconds := sub (now | unixEpoch) (stat .chezmoi.targetFile).modTime -}}
{{-   if le $file_age_in_seconds $refresh_period -}}
{{- /* We have updated the file within the refresh period, use it as is. */ -}}
{{-     $include_existing = true -}}
{{-   end -}}
{{- end -}}
{{- if $include_existing -}}
{{-   include .chezmoi.targetFile -}}
{{- else -}}
{{-   onepasswordDocument .doc -}}
{{- end -}}
