{{- $path := (splitList .chezmoi.pathListSeparator (env "PATH")) -}}
{{- $path = prepend $path (joinPath .chezmoi.homeDir ".nix-profile/bin" ) -}}
{{- $path = prepend $path (joinPath .chezmoi.homeDir ".local/bin" ) -}}
{{- $zoxide := findExecutable "zoxide" $path -}}
{{- if $zoxide -}}
{{-   output $zoxide "init" "zsh" | trim -}}
{{- end -}}
