{{- $signingKey := .git.signing_key }}
[user]
name = "{{ .name }}"
email = "{{ .email }}"

[diff]
tool = "delta"

[ui]
pager = "delta"
diff-formatter = ":git"

{{ if $signingKey -}}
[signing]
backend = "gpg"
behavior = "own"
key = {{ $signingKey | quote }}
{{- end }}

[aliases]
dlog = ["log", "-r"]
l = ["log", "-r", "(trunk()..@):: | (trunk()..@)-"]
fresh = ["new", "trunk()"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]
