# Old paths
.fasd
.viminfo
.zcompdump
.zlogin
.zlogout
.zprofile
.zshrc
.local/data/share/wget-hsts
.wget-hsts
.parallel
.config/parallel
.config/ripgrep/rc
.config/firefox-addons
.pip
.poetry
.virtualenvs
.Xauthority
.tldrc

# Software I don't use
.pijulconfig
.tool-versions
.npm
