Applications
Applications (Parallels)
Desktop
Documents
Downloads
MacBox
Movies
Music
My Kindle Content
Pictures
Projects
Public
Repos/*
Sandbox
Site Mirrors
Sync
Templates
Virtual Machines
Workspace

{{- $vimPath := joinPath .chezmoi.homeDir ".config/vim" -}}
{{ if or (not (glob $vimPath)) (ne ($vimPath | lstat).type "symlink") }}
.chezmoiscripts/posix/prepare_vim
{{ end }}

.chezmoiscripts/**
!.chezmoiscripts/{{.chezmoi.os}}/**
!.chezmoiscripts/{{.osid}}/**
{{- if ne .chezmoi.os "windows" }}
!.chezmoiscripts/posix/**
{{- end }}

{{- if ne .chezmoi.os "windows" }}
AppData
.config/scoop
{{- else }}
.local/share/gnupg/*
AppData/Roaming/gnupg/*~
AppData/Roaming/gnupg/S.*
AppData/Roaming/gnupg/openpgp-revocs.d
!Documents
Documents/*
!Documents/PowerShell
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
Library/
{{- else }}
Library/Caches/*
!Library/Caches/zsh
Library/Caches/zsh/*
!Library/Caches/zsh/functions
Library/Caches/zsh/functions/*
{{- end }}

.ssh/keys/*
{{- if not .ephemeral }}
{{-   if .personal }}
!.ssh/keys/frey*
{{-   end }}
{{-   if .work }}
!.ssh/keys/work*
{{-   end }}
{{- end }}

**/.DS_Store
.chezmoihooks
.chezmoihooks/**
.bash_history
.brew
.cache/*
!.cache/zsh
.cache/zsh/*
!.cache/zsh/functions
.cache/zsh/functions/*
.config/chezmoi
.config/environment.d/10-home-manager.conf
.config/gh/hosts.yml
.config/vscode-dev-containers
.devcontainer
.envrc
.local/lib
.local/pipx
.local/share/*
!.local/share/user-places.xbel
!.local/share/kxmlgui5
!.local/share/gnupg
.local/share/gnupg/openpgp-revocs.d
!.local/share/zsh
.local/share/zsh/*
!.local/share/zsh/completions
.local/state/*
!.local/state/zsh
.local/state/zsh/*
.nix-channels
.nix-defexpr
.nix-profile
.oh-my-zsh
.ssh/known_hosts
.Trash
.vscode-server
**/.zcompdump
**/*.iln*
**/*.zwc
.ssh/agent.sock
.ssh/socket.*
.ssh/known_hosts.old
.config/nix/registry.json
.terminfo

{{- if not .secrets }}
{{/* common secrets */}}
.local/share/gnupg/*
AppData/Roaming/gnupg/*
{{- end }}

{{ if not .steamdeck }}
# Steamdeck-only
.local/bin/deck*
.local/bin/ludusavi
.config/systemd/user/deck-backup.service
.config/systemd/user/deck-backup.timer
.config/systemd/user/check-backup.service
.config/rclone/rclone.conf
.config/restic/exclude.txt
.config/restic/password.txt
.config/rsync/exclude.txt
.config/deck-backup
.var/app
SD
{{ else }}
# These are inputs into onepassword template files, don't apply them directly
.var/app/net.retrodeck.retrodeck/config/ES-DE/settings/es_settings.src.xml
.var/app/net.retrodeck.retrodeck/config/PCSX2/inis/PCSX2.src.ini
.var/app/net.retrodeck.retrodeck/config/retroarch/retroarch.src.cfg
{{ end }}

# I don't track files for this with chezmoi
.code-terminal
.vscode

# I don't maintain a bash configuration
.profile
.bashrc
.bash_profile
.bash_logout

# Dotfiles/setup repository clones
.dotfiles
.setup
