{{/* detect OS */}}
{{- $osid := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- $wsl2 := and (eq .chezmoi.os "linux") ( .chezmoi.kernel.osrelease | lower | contains "microsoft" ) -}}
{{- $windows_sandbox := and (eq .chezmoi.os "windows") ( .chezmoi.username | contains "WDAGUtilityAccount" ) -}}
{{- $steamdeck := eq $osid "linux-steamos" -}}
{{- $emudeck := false -}}
{{- $retrodeck := false -}}

{{/* boolean feature flags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $work := false -}}{{/* true if this machine is used for work */}}
{{- $work_email := false -}}{{/* true if this machine should use a work email (implicitly set by $work) */}}
{{- $user_setup := true -}}{{/* true if this user should be set up beyond just dotfiles */}}
{{- $macos_split_user := true -}}{{/* true if this is a macOS machine that should have a separate user for admin tasks */}}
{{- $macos_admin_user := "archet" -}}{{/* the username of the admin user on macOS */}}
{{- $use_nix := true -}}{{/* true if this machine should use Nix. default to true*/}}
{{/* device usage flags */}}
{{- $coding := true -}}{{/* true if this device will be used for coding, beyond just shell scripting */}}
{{- $containers := false -}}{{/* true if this machine should have a container runtime installed */}}
{{- $gaming := false -}}{{/* true if this device will be used for gaming */}}
{{- $video := false -}}{{/* true if this device will be used to stream video, controls VLC/etc installation */}}
{{- $music := false -}}{{/* true if this device will be used to listen to music */}}
{{- $music_library := false -}}{{/* true if this device will be used to manage my music library */}}
{{- $ebook_library := false -}}{{/* true if this device will be used to manage my ebook library */}}

{{- if eq .chezmoi.os "linux" }}
{{-   if or $steamdeck (eq $osid "linux-chimera") -}}
{{-     $use_nix = false }}
{{-   end }}
{{- end }}
{{- if or (not $user_setup) (not (lookPath "nix")) }}
{{-   $use_nix = false }}
{{- end }}

{{/* detect macOS version */}}
{{- $macos_major_version := "" -}}
{{- $macos_version := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
    {{- $macos_vers := slice (output "sw_vers" "-productVersion" | trim | splitList "." ) 0 2 }}
    {{- $macos_major_version = index $macos_vers 0 }}
    {{- $macos_version = $macos_vers | join "." -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "CONTAINER_ID") (env "REMOTE_CONTAINERS_IPC") (env "DEVPOD") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $devpod := env "DEVPOD" | not | not -}}
{{- $has_devpod_gpg := stat (joinPath .chezmoi.homeDir ".gnupg/S.gpg-agent") -}}
{{- $skip_gpg := and $devpod $has_devpod_gpg | not | not -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "ComputerName" | trim -}}
{{- end -}}

{{/* detect interactive mode */}}
{{- $force := or (has "--force" .chezmoi.args) (has "--force=true" .chezmoi.args) -}}
{{- $interactive := and stdinIsATTY (not $force) -}}

{{/* determine whether to prompt interactively */}}
{{- $prompt := or (has "--prompt" .chezmoi.args) (has "--prompt=true" .chezmoi.args) -}}

{{/* set defaults based on context */}}
{{- if not $ephemeral -}}
{{-   if eq $hostname "caf-clarson-p1" -}}
{{-     if $wsl2 -}}
{{-       $containers = true -}}
{{/* I don't use wslg */}}
{{-       $headless = true -}}
{{-     else -}}
{{-       $music = true -}}
{{-     end -}}
{{-     $work = true -}}
{{-     $coding = true -}}
{{-   else if or (eq $hostname "vaelin") (eq $hostname "zorian") -}}
{{-     $personal = true -}}
{{-     $coding = true -}}
{{-     $containers = true -}}
{{-     $gaming = true -}}
{{-     $video = true -}}
{{-     $music = true -}}
{{-     $music_library = true -}}
{{-     $ebook_library = true -}}
{{-   else if $steamdeck -}}
{{-     $gaming = true -}}
{{-     $personal = true -}}
{{/*    prompt for emulation by default */}}
{{-     $prompt = true -}}
{{-   else if $windows_sandbox -}}
{{-     $ephemeral = true -}}
{{-   else if $interactive -}}
{{/*    prompt for unknown hostnames by default */}}
{{-     $prompt = true -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{/* prompt for overrides */}}
{{- if and $interactive $prompt -}}
{{-   if $steamdeck -}}
{{-     $emudeck = promptBoolOnce . "emudeck" "Will EmuDeck be used?" $emudeck -}}
{{-     $retrodeck = promptBoolOnce . "retrodeck" "Will RetroDeck be used?" (and $retrodeck (not $emudeck)) -}}
{{-   else -}}
{{-     $headless = promptBoolOnce . "headless" "Is this machine headless (no screen or keyboard)?" $headless -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "Is this machine ephemeral (container, cloud, or VM instance)?" $ephemeral -}}
{{-     $work = promptBoolOnce . "work" "Will this be a work machine (use a work email address)?" $work -}}
{{-     $coding = promptBoolOnce . "coding" "Will this machine be used for coding (beyond just scripting)?" $coding -}}
{{-     $containers = promptBoolOnce . "containers" "Should a container runtime be installed?" $containers -}}
{{-     $gaming = promptBoolOnce . "gaming" "Will this machine be used for gaming?" $gaming -}}
{{-     $video = promptBoolOnce . "video" "Will this machine be used for local video playback (install VLC)?" $video -}}
{{-     $music = promptBoolOnce . "music" "Will this machine be used to listen to music?" $music -}}
{{-   end -}}
{{- end -}}

{{- $email := "kergoth@gmail.com" -}}
{{- if $work -}}
{{-   $email = "chris.larson@pano.ai" -}}
{{/*  I don't use a split-user setup at work */}}
{{-   $macos_split_user = false -}}
{{- end -}}

{{- $secrets := false -}}
{{- if and (or $personal $work) (not $ephemeral) -}}
{{-   $secrets = true -}}
{{- end -}}

{{- $personal_key := "934796281287D8BD66EF26F4BCC304A4E9BFE3CF" }}
{{- $work_key := "200D2E078ACE95127185EA9D21E425D83915ACB4" }}
{{- $signing_key := ""}}
{{- $age_recipient := "" }}
{{- $age_key_op_uuid := "" }}
{{- if $secrets -}}
{{-   if $personal -}}
{{-     $signing_key = $personal_key }}
{{-     $age_recipient = "age1yk2uuwjysqsx6fyrwuexzjpzt6nnx6zwz8m59uw4aaem9mejqedsqdwfwp" }}
{{-     $age_key_op_uuid = "h7mysvujmfbob42gz4ncwypwkq" }}
{{-   else if $work }}
{{-     $signing_key = $work_key }}
{{-     $age_recipient = "age1pqwlee59dsnv3n4whp0tchjc7xu39cpujk6j79jjgdl8ue0tga0qfuwke0" }}
{{-     $age_key_op_uuid = "xyqtvjumcefyvmvsmbspxyagzi" }}
{{-   end }}
{{- end }}

{{- $emupath := "" }}
{{- $sdmount := "" }}
{{- if $steamdeck }}
{{-   if .chezmoi.username }}
{{-     $sdmount = glob (printf "/run/media/%s/*" .chezmoi.username) | first }}
{{-   end }}
{{-   if $sdmount }}
{{-     if $emudeck }}
{{-       $emupath = printf "%s/Emulation" $sdmount }}
{{-     end }}
{{-     if $retrodeck }}
{{-       $emupath = printf "%s/retrodeck" $sdmount }}
{{-     end }}
{{-   else }}
{{-     if $emudeck }}
{{-       $emupath = "/home/deck/Emulation" }}
{{-     end }}
{{-     if $retrodeck }}
{{-       $emupath = "/home/deck/retrodeck" }}
{{-     end }}
{{-   end }}
{{- end }}

sourceDir = {{ .chezmoi.sourceDir | quote }}
{{/* unknown distro */}}
{{- if eq $osid "linux" }}
scriptTempDir = "~/tmp"
{{- end }}

encryption = "age"

[age]
    identity = {{ joinPath .chezmoi.homeDir ".config" "chezmoi" "age.key" | quote }}
    recipient = {{ $age_recipient | quote }}

[data]
    name = "Christopher Larson"
    email = {{ $email | quote }}

    github_username = "kergoth"
    steam_account = "kergoth"
    retroachievements_username = "kergoth"
    screenscraper_username = "kergoth"

    ephemeral = {{ $ephemeral }}
    headless = {{ $headless }}
    containers = {{ $containers }}
    personal = {{ $personal }}
    work = {{ $work }}

    gaming = {{ $gaming }}
    video = {{ $video }}
    music = {{ $music }}
    coding = {{ $coding }}
    music_library = {{ $music_library }}
    ebook_library = {{ $ebook_library }}

    secrets = {{ $secrets }}
    user_setup = {{ $user_setup }}
    use_nix = {{ $use_nix }}

    hostname = {{ $hostname | quote }}
    osid = {{ $osid | quote }}
    wsl2 = {{ $wsl2 }}
    steamdeck = {{ $steamdeck }}

    devpod = {{ $devpod }}
    skip_gpg = {{ $skip_gpg }}

{{- if eq .chezmoi.os "darwin" }}
    macos_major_version = {{ $macos_major_version }}
    macos_version = {{ $macos_version }}
    macos_split_user = {{ $macos_split_user }}
    macos_admin_user = {{ $macos_admin_user | quote }}
{{- end }}
{{- if $steamdeck }}
{{-   if $sdmount }}
    # Steam Deck paths
    sdcard_mount = {{ ( or $sdmount "" ) | quote }}
{{-   end }}
    emudeck = {{ $emudeck }}
    retrodeck = {{ $retrodeck }}
    emupath = {{ ( or $emupath "" ) | quote }}
{{-   if $emudeck }}
    retroarch_config_path = "{{ .chezmoi.destDir }}/.var/app/org.libretro.RetroArch/config/retroarch"
{{-   else if $retrodeck }}
    retroarch_config_path = "{{ .chezmoi.destDir }}/.var/app/net.retrodeck.retrodeck/config/retroarch"
{{-   else }}
    retroarch_config_path = ""
{{-   end }}
{{- end }}

[data.external]
    refreshPeriod = "168h"

[data.1password]
    # Refresh 1password documents weekly
    refreshPeriod = 604800

[data.age]
    # 1Password UUID to bootstrap the age key if needed
    key_op_uuid = {{ $age_key_op_uuid | quote }}

[data.gnupg]
    personal_key = {{ $personal_key | quote }}
    work_key = {{ $work_key | quote }}

[data.git]
    signing_key = {{ $signing_key | quote }}
