{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $docker := false -}}{{/* true if this machine should have Docker installed */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $work := false -}}{{/* true if this machine is used for work */}}
{{- $work_email := false -}}{{/* true if this machine should use a work email (implicitly set by $work) */}}
{{- $setup_user := true -}}{{/* true if this user should be set up beyond just dotfiles */}}

{{/* detect OS */}}
{{- $osid := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
{{- $wsl2 := and (eq .chezmoi.os "linux") ( .chezmoi.kernel.osrelease | lower | contains "microsoft" ) -}}
{{- $macos_version := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
    {{- $macos_version = slice (output "sw_vers" "-productVersion" | trim | splitList "." ) 0 2 | join "." -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "ComputerName" | trim -}}
{{- end -}}

{{/* detect interactive mode */}}
{{- $force := or (has "--force" .chezmoi.args) (has "--force=true" .chezmoi.args) -}}
{{- $interactive := and stdinIsATTY (not $force) -}}

{{/* determine whether to prompt interactively */}}
{{- $prompt := or (has "--prompt" .chezmoi.args) (has "--prompt=true" .chezmoi.args) -}}

{{/* set defaults based on hostname */}}
{{- if not $ephemeral -}}
{{-   if eq $hostname "caf-clarson-p1" -}}
{{-     if $wsl2 -}}
{{-       $docker = true -}}
{{-     end -}}
{{-     $work = true -}}
{{-   else if eq $hostname "vaelin" -}}
{{-     $personal = true -}}
{{-     $docker = true -}}
{{-   else if $interactive -}}
{{/*    prompt for unknown hostnames by default */}}
{{-     $prompt = true -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{/* prompt for overrides */}}
{{- if and $interactive $prompt -}}
{{-   $headless = promptBoolOnce . "headless" "headless" $headless -}}
{{-   $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" $ephemeral -}}
{{-   $docker = promptBoolOnce . "docker" "docker" $docker -}}
{{-   $work = promptBoolOnce . "work" "work" $work -}}
{{-   if not $work -}}
{{-     $work_email = promptBool "work_email" $work_email -}}
{{-   end -}}
{{- end -}}

{{- if $work -}}
{{-   $work_email = true -}}
{{- end -}}

{{- $email := "kergoth@gmail.com" -}}
{{- if $work_email -}}
{{-   $email = "chris.larson@siemens.com" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = "Christopher Larson"
    github_username = "kergoth"
    email = {{ $email | quote }}

    ephemeral = {{ $ephemeral }}
    headless = {{ $headless }}
    docker = {{ $docker }}
    personal = {{ $personal }}
    work = {{ $work }}
    setup_user = {{ $setup_user }}

    hostname = {{ $hostname | quote }}
    osid = {{ $osid | quote }}
    wsl2 = {{ $wsl2 }}
{{- if eq .chezmoi.os "darwin" }}
    macos_version = {{ $macos_version }}
{{- end }}
 
[github]
    refreshPeriod = "12h"
