{{- includeTemplate "external/cli-apps.toml.tmpl" . -}}
{{- includeTemplate "external/shell-tools.toml.tmpl" . -}}
{{- includeTemplate "external/colors-syntax.toml.tmpl" . -}}
{{- includeTemplate "external/fonts.toml.tmpl" . -}}
{{- includeTemplate "external/scripts.toml.tmpl" . -}}
{{- includeTemplate "external/vim.toml.tmpl" . -}}
{{- includeTemplate "external/zsh.toml.tmpl" . -}}
{{ if .steamdeck }}
{{   includeTemplate "external/steamdeck.toml.tmpl" . }}
{{ end }}
