// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run the `open default settings` command
// from the command palette or from `Zed` application menu.
{
  "title_bar": {
    "show_user_picture": false
  },
  "icon_theme": "Material Icon Theme",
  "preferred_line_length": 112,
  "middle_click_paste": false,
  "auto_indent_on_paste": false,
  "outline_panel": {
    "dock": "right"
  },
  "features": {
    "edit_prediction_provider": "zed"
  },
  "ssh_connections": {{- if .work }}
  {{ include (joinPath .chezmoi.workingTree "settings/zed/settings-ssh-work.json.age") | decrypt | indent 2 }}
{{- else if .personal }}
  {{ include (joinPath .chezmoi.workingTree "settings/zed/settings-ssh-personal.json.age") | decrypt | indent 2 }}
{{- end }}
  "agent": {
    "inline_assistant_model": {
      "provider": "google",
      "model": "gemini-2.5-flash"
    },
    "profiles": {
      "write": {
        "name": "Write",
        "tools": {
          "open": true,
          "create_directory": true,
          "batch_tool": true,
          "code_actions": true,
          "code_symbols": true,
          "contents": true,
          "copy_path": true,
          "create_file": true,
          "delete_path": false,
          "diagnostics": true,
          "edit_file": true,
          "fetch": true,
          "list_directory": true,
          "move_path": true,
          "now": true,
          "find_path": true,
          "read_file": true,
          "grep": true,
          "rename": true,
          "symbol_info": true,
          "terminal": true,
          "thinking": true,
          "web_search": true
        },
        "enable_all_context_servers": true,
        "context_servers": {}
      }
    },
    "default_profile": "write",
    "always_allow_tool_actions": true,
    "default_model": {
      "provider": "copilot_chat",
      "model": "gpt-4o"
    },
  },
  "theme": "Dracula",
  "buffer_font_family": "MesloLGS NF",
  "buffer_font_features": {
    "calt": true
  },
{{- if eq .chezmoi.os "linux" }}
  "ui_font_size": 18,
  "buffer_font_size": 14.0,
{{- else }}
  // Use a slightly smaller UI font size.
  "ui_font_size": 15,
  // Use a substantially smaller buffer/terminal font size.
  "buffer_font_size": 14.0,
{{- end }}
  // Auto save after a 1 second delay.
  "autosave": {
    "after_delay": {
      "milliseconds": 1000
    }
  },
  "auto_install_extensions": {
    "basher": true,
    "csv": true,
    "docker-compose": true,
    "dockerfile": true,
    "dracula": true,
    "git-firefly": true,
    "html": true,
    "log": true,
    "lua": true,
    "macos-classic": true,
    "make": true,
    "nix": true,
    "powershell": true,
    "toml": true,
    // Extensions I'm testing out, but may not keep in the long term.
    "elixir": true,
    "nu": true
  },
  "current_line_highlight": "gutter", // Highlight the gutter only
  "file_scan_exclusions": [
    "**/.git",
    "**/.jj",
    "**/.svn",
    "**/.hg",
    "**/CVS",
    "**/.DS_Store",
    "**/Thumbs.db",
    "**/.classpath",
    "**/.settings",
    "**/__pycache__"
  ],
  "file_types": {
    "JSONC": ["*.json.tmpl", "devcontainer.json"],
    "Plain Text": ["*.txt"],
    "Shell Script": [".envrc", "setup-user-linux.tmpl"],
    "TOML": ["*.toml.tmpl"],
    "PowerShell": ["*.ps1.tmpl"]
  },
  // Disable auto-formatting globally, as I enable it per-project
  "format_on_save": "off",
  "git": {
    // Disable the inline git blame information.
    "inline_blame": {
      "enabled": false
    }
  },
  "inlay_hints": {
    // Enable inlay hints.
    "enabled": true
  },
  "languages": {
    "JSON": { "prettier": { "allowed": true, "parser": "json" } },
    "Python": {
      "format_on_save": "off",
      "formatter": [
        { "code_action": "source.organizeImports.ruff" },
        { "code_action": "source.fixAll.ruff" },
        {
          "language_server": {
            "name": "ruff"
          }
        }
      ],
      "language_servers": ["pyright", "ruff"]
    }
  },
  "language_overrides": {
    "Shell Script": {
      "formatter": {
        "external": {
          "command": "shfmt",
          "arguments": ["-i", "4", "-ci", "-bn", "-s", "{buffer_path}"]
        }
      }
    }
  },
  "lsp": {
    "ruff": {
      "initialization_options": {
        "settings": {
          // Ruff server settings goes here
          "lint": {
            "extendSelect": ["I"]
          }
        }
      }
    }
  },
  "project_panel": {
    /// Fold directories automatically when a directory has only one directory inside.
    "auto_fold_dirs": true
  },
  // Enable Soft Wrap by default.
  "soft_wrap": "preferred_line_length",
  "wrap_guides": [
    80,
  ],
  "telemetry": {
    // Do not send debug info like crash reports.
    "diagnostics": false,
    // Do not send anonymized usage data like what languages you're using Zed with.
    "metrics": false
  },
  "terminal": {
{{  if eq .chezmoi.os "windows" }}
    "shell": {
        "program": "pwsh.exe"
    },
{{  else if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") }}
    "shell": {
      "with_arguments": {
        "program": "zsh",
        "args": [
            "--login"
        ]
      }
    },
{{ end }}
    "font_size": 12.0,
    "cursor_shape": "bar",
    "env": {
      // Use Zed as the default editor for terminal commands.
{{- if not .steamdeck }}
{{-   if eq .chezmoi.os "windows" }}
      "EDITOR": "zed.exe --wait",
      "VISUAL": "zed.exe --wait"
{{-   else }}
      "EDITOR": "zed --wait",
      "VISUAL": "zed --wait"
{{-   end }}
{{- else }}
      "EDITOR": "vim",
      "VISUAL": "vim"
{{- end }}
    }
  }
}
