// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run the `open default settings` command
// from the command palette or from `Zed` application menu.
{
  "assistant": {
    "default_model": {
      "provider": "copilot_chat",
      "model": "gpt-4o"
    },
    "version": "2"
  },
  "theme": "Dracula",
  // Use a slightly smaller UI font size.
  "ui_font_size": 15,
  "buffer_font_family": "MesloLGS NF",
  "buffer_font_features": {
    "calt": true
  },
  // Use a substantially smaller buffer/terminal font size.
  "buffer_font_size": 12,
  // Auto save after a 1 second delay.
  "autosave": {
    "after_delay": {
      "milliseconds": 1000
    }
  },
  "auto_install_extensions": {
    "basher": true,
    "csv": true,
    "docker-compose": true,
    "dockerfile": true,
    "dracula": true,
    "git-firefly": true,
    "html": true,
    "log": true,
    "lua": true,
    "macos-classic": true,
    "make": true,
    "nix": true,
    "powershell": true,
    "toml": true,
    // Extensions I'm testing out, but may not keep in the long term.
    "nu": true
  },
  "current_line_highlight": "gutter", // Highlight the gutter only
  "file_scan_exclusions": [
    "**/.git",
    "**/.svn",
    "**/.hg",
    "**/CVS",
    "**/.DS_Store",
    "**/Thumbs.db",
    "**/.classpath",
    "**/.settings",
    "**/__pycache__"
  ],
  "file_types": {
    "JSONC": ["*.json.tmpl", "devcontainer.json"],
    "Plain Text": ["*.txt"],
    "Shell Script": [".envrc", "setup-user-linux.tmpl"],
    "TOML": ["*.toml.tmpl"],
    "PowerShell": ["*.ps1.tmpl"]
  },
  // Disable auto-formatting globally, as I enable it per-project
  "format_on_save": "off",
  "git": {
    // Disable the inline git blame information.
    "inline_blame": {
      "enabled": false
    }
  },
  "inlay_hints": {
    // Enable inlay hints.
    "enabled": true
  },
  "languages": {
    "JSON": { "prettier": { "allowed": true, "parser": "json" } },
    "Python": {
      "format_on_save": "off",
      "formatter": [
        {
          "code_actions": {
            "source.organizeImports.ruff": true,
            "source.fixAll.ruff": true
          }
        },
        {
          "language_server": {
            "name": "ruff"
          }
        }
      ],
      "language_servers": ["pyright", "ruff"]
    }
  },
  "language_overrides": {
    "Shell Script": {
      "formatter": {
        "external": {
          "command": "shfmt",
          "arguments": ["-i", "4", "-ci", "-bn", "-s", "{buffer_path}"]
        }
      }
    }
  },
  "lsp": {
    "ruff": {
      "initialization_options": {
        "settings": {
          // Ruff server settings goes here
          "lint": {
            "extendSelect": ["I"]
          }
        }
      }
    }
  },
  "project_panel": {
    /// Fold directories automatically when a directory has only one directory inside.
    "auto_fold_dirs": true
  },
  // Enable Soft Wrap by default.
  "soft_wrap": "editor_width",
  "telemetry": {
    // Do not send debug info like crash reports.
    "diagnostics": false,
    // Do not send anonymized usage data like what languages you're using Zed with.
    "metrics": false
  },
  "terminal": {
{{  if eq .chezmoi.os "windows" }}
    "shell": {
        "program": "pwsh.exe"
    },
{{  else if eq .chezmoi.os "linux" }}
    "shell": {
        "with_arguments": {
        "program": "zsh",
        "args": [
            "--login"
        ]
        }
    },
{{  end }}
    "font_size": 12,
    "env": {
      // Use Zed as the default editor for terminal commands.
{{  if eq .chezmoi.os "windows" }}
      "EDITOR": "zed.exe --wait",
      "VISUAL": "zed.exe --wait"
{{  else }}
      "EDITOR": "zed --wait",
      "VISUAL": "zed --wait"
{{  end }}
    }
  }
}
