contexts:
  default:
    defaultIde: zed
    defaultProvider: docker
    options:
      DOTFILES_SCRIPT:
        userProvided: true
        value: script/setup
      DOTFILES_URL:
        userProvided: true
        value: https://github.com/kergoth/dotfiles
      GPG_AGENT_FORWARDING:
        userProvided: true
        value: "true"
      SSH_CONFIG_PATH:
        userProvided: true
        value: {{ .chezmoi.destDir }}/.ssh/config.d/devpod
      SSH_INJECT_GIT_CREDENTIALS:
        userProvided: true
        value: "true"
    providers:
      docker:
        creationTimestamp: "2025-11-21T16:15:15Z"
        initialized: true
        options:
          DOCKER_BUILDER:
            userProvided: true
          DOCKER_HOST:
            userProvided: true
            value: unix://{{ .chezmoi.destDir }}/.config/colima/default/docker.sock
          DOCKER_PATH:
            userProvided: true
            value: {{ .chezmoi.destDir }}/.nix-profile/bin/docker
          INACTIVITY_TIMEOUT:
            userProvided: true
        singleMachine: true
defaultContext: default
