{{/* If the file doesn't exist yet, or is older than the age threshold, fetch the value from 1password. */}}
{{- $targetfile := .chezmoi.targetFile -}}
{{- if glob $targetfile -}}
{{/*  Default of 1 week, or 604800 seconds. */}}
{{-   $age_threshold := dig "cache" "op_age_threshold" 604800 . -}}
{{-   $age_in_seconds := sub (now | unixEpoch) (stat $targetfile).modTime -}}
{{-   if gt $age_in_seconds $age_threshold -}}
{{-     onepasswordDocument "bduxihdauc6tnhou2ofcq2fw2a" -}}
{{-   else -}}
{{-     include $targetfile -}}
{{-   end -}}
{{- else -}}
{{-   onepasswordDocument "bduxihdauc6tnhou2ofcq2fw2a" -}}
{{- end -}}
