{{- if .setup_user -}}
#!/usr/bin/env bash
# Apply home manager configuration

set -euo pipefail

# Re-run when home-manager configuration changes:
#   home.nix.tmpl hash: {{ include "dot_config/home-manager/home.nix.tmpl" | sha256sum }}
#   home.nix hash: {{ include (joinPath .chezmoi.homeDir ".config/home-manager/home.nix") | sha256sum }}
#   flake.nix.tmpl hash: {{ include "dot_config/home-manager/flake.nix.tmpl" | sha256sum }}
#   flake.nix hash: {{ include (joinPath .chezmoi.homeDir ".config/home-manager/flake.nix") | sha256sum }}
#   flake.lock hash: {{ include "dot_config/home-manager/flake.lock" | sha256sum }}
#   flake.lock hash: {{ include (joinPath .chezmoi.homeDir ".config/home-manager/flake.lock") | sha256sum }}
# Re-run after installing nix:
#   nix binary path: {{ lookPath "nix" }}
if command -v nix >/dev/null 2>&1; then
    echo >&2 "Applying home manager configuration"
    HOME="${CHEZMOI_HOME_DIR:-$HOME}" nix run 'home-manager/master' -- switch
fi
{{- end -}}
