/*
 * Images copied from classic.jar, since they tend to break
 * with themes other than Classic.
 */

.throbber {
	list-style-image: url("chrome://sfdirectdl/content/icons/Throbber-small.png");
	width: 16px;
	height: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	-moz-margin-start: 5px;
	-moz-margin-end: 2px;
}

.throbber[state="loading"] {
	list-style-image: url("chrome://sfdirectdl/content/icons/Throbber-small.gif");
}

.throbber[state="error"] {
	list-style-image: url("chrome://sfdirectdl/content/icons/notfound.png");
}

#updateButton {
	margin: 0px;
	list-style-image: url("chrome://sfdirectdl/content/icons/actionbuttons.png");
	-moz-image-region: rect(0px, 21px, 21px, 0px) !important;
}

#updateButton[disabled="true"] {
	list-style-image: url("chrome://sfdirectdl/content/icons/actionbuttons.png");
	-moz-image-region: rect(21px, 21px, 42px, 0px) !important;
}


richlistitem hbox.image {
	min-width: 130px;
	max-width: 130px;
}
richlistitem label.title {
	font-weight: bold;
	min-width: 100px;
	margin-top: 12px;
}
richlistitem {
	-moz-user-focus: none;
}
richlistitem[selected="true"] {
	-moz-user-focus: normal;
}
