$HOME/*
!$HOME/ES-DE
!$HOME/emudeck
!$HOME/homebrew
!$HOME/Documents
!$HOME/.var
$HOME/.var/*
!$HOME/.var/app
$HOME/.var/app/*/cache
$HOME/.var/app/org.DolphinEmu.dolphin-emu/data/dolphin-emu/Load
$HOME/.var/app/io.github.shiiion.primehack/data/dolphin-emu/Load
$HOME/.var/app/org.ppsspp.PPSSPP/config/ppsspp/PSP/TEXTURES
!$HOME/.config
$HOME/.config/steam-rom-manager/*
!$HOME/.config/steam-rom-manager/userData
$HOME/.config/EmuDeck

!$HOME/.local
$HOME/.local/*
!$HOME/.local/share
$HOME/.local/share/applications
$HOME/.local/share/baloo
$HOME/.local/share/Cemu/graphicPacks/downloadedGraphicPacks
$HOME/.local/share/Cemu/title_list_cache.xml
$HOME/.local/share/citra-emu/load/textures
$HOME/.local/share/citra-emu/log
$HOME/.local/share/citra-emu/shaders
$HOME/.local/share/flatpak
$HOME/.local/share/icons
$HOME/.local/share/kactivitymanagerd
$HOME/.local/share/kcookiejar
$HOME/.local/share/klipper
$HOME/.local/share/kitty-ssh-kitten
$HOME/.local/share/kscreen
$HOME/.local/share/pkgx/pantry
$HOME/.local/share/plasma_icons
$HOME/.local/share/RecentDocuments
$HOME/.local/share/Trash
$HOME/.local/share/*.xbel*
$HOME/.local/share/xorg/Xorg.0.log
$HOME/.local/share/Steam/*
$HOME/.local/share/Steam/appcache
!$HOME/.local/share/Steam/config
!$HOME/.local/share/Steam/userdata
$HOME/.local/share/Steam/userdata/*/*
!$HOME/.local/share/Steam/userdata/*/config
$HOME/.local/share/Steam/userdata/*/config/*cache
$HOME/.local/share/Steam/userdata/*/config/grid
$HOME/.local/share/Steam/userdata/*/config/*.vdf_backups
!$HOME/.local/share/Steam/steamapps
$HOME/.local/share/Steam/steamapps/*
!$HOME/.local/share/Steam/steamapps/common
$HOME/.local/share/Steam/steamapps/common/*
!$HOME/.local/share/Steam/steamapps/common/Steam Controller Configs
$HOME/.local/share/Steam/config/*cache

{{ .sdcard_mount }}/*
# Ludusavi saved games backup
!{{ .sdcard_mount }}/Saves Backup/

# [...]
node_modules
__pycache__
tmp

*~
*.o
*.lo
*.pyc
.venv

*.log
