/* CSS Document */

#xpose_statusbar {
    background: url("chrome://xpose/skin/status-icon.png") -20px 0 no-repeat;
}

#xpose-toolbar-button {
  list-style-image: url("chrome://xpose/skin/toolbar-icon.png");
}

toolbar[iconsize="small"] #xpose-toolbar-button {
  list-style-image: url("chrome://xpose/skin/toolbar-icon-sm.png");
}

.textOverflow{} 
.textOverflow div
{
	height:1.5em;
	
	position:relative;
	font-size:0.78em;
	width:95%;
	border-bottom:solid 1px #aaaaaa;
	padding:2px;white-space:nowrap; 
	overflow:hidden;
	margin:2px 0;
	text-overflow:ellipsis;
	-moz-binding:url("chrome://xpose/content/moz-text-overflow.xml#XBLDocument");/*Extensible Biding Language for Firefox*/
}


.textOverflow div ins{position:absolute;right:0;bottom:-0.2em;width:1.5em;text-align:right;height:2em;min-width:41px;text-decoration:none;background:url(chrome://xpose/skin/text-fade.png) repeat-y;display:none;}
.textOverflow div._textUnderflow{overflow:auto}
.textOverflow div._textUnderflow ins{display:none;}
.textOverflow div._textOverflow{overflow:hidden;}
.textOverflow div._textOverflow ins{display:block;}
table.textOverflow{table-layout:fixed;}