@import url("chrome://global/skin/");
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

#urlbar {
  -moz-binding: url(chrome://locationbar2/content/urlbar.xml#urlbar) !important;
}

#urlbar html|*.textbox-input {
  -moz-binding: url(chrome://locationbar2/content/urlbar.xml#input) !important;
}

.textbox-presentation-box ,
.textbox-presentation-box > * ,
.textbox-presentation-segment ,
.textbox-presentation-segment > * {
  margin: 0;
  padding: 0;
}

.textbox-overflow-ellipsis {
  -moz-margin-start: .3em;
}

.textbox-presentation-box {
  margin: 0 3px;
  -moz-box-align: center;
}

.textbox-presentation-box ,
.textbox-presentation-segment ,
.textbox-presentation-slash {
  cursor: text;
}

.textbox-presentation-segment {
  -moz-binding: url(chrome://locationbar2/content/urlbar.xml#segment) !important;
}

.textbox-presentation-path {
  -moz-binding: url(chrome://locationbar2/content/urlbar.xml#single-segment) !important;
}

.textbox-presentation-pathFile {
  -moz-binding: url(chrome://locationbar2/content/urlbar.xml#file-segment) !important;
}

.textbox-presentation-protocol ,
.textbox-presentation-port ,
.textbox-presentation-slash {
  text-decoration: none !important;
}

.textbox-presentation-protocol ,
.textbox-presentation-subdomain ,
.textbox-presentation-port ,
.textbox-presentation-slash ,
.textbox-presentation-query ,
.textbox-presentation-fragment {
  color: graytext;
}

#urlbar[level="high"] .textbox-presentation-protocol ,
#urlbar[level="high"] .textbox-presentation-subdomain ,
#urlbar[level="high"] .textbox-presentation-port ,
#urlbar[level="high"] .textbox-presentation-slash ,
#urlbar[level="high"] .textbox-presentation-query ,
#urlbar[level="high"] .textbox-presentation-fragment ,
#urlbar[level="low"] .textbox-presentation-protocol ,
#urlbar[level="low"] .textbox-presentation-subdomain ,
#urlbar[level="low"] .textbox-presentation-port ,
#urlbar[level="low"] .textbox-presentation-slash ,
#urlbar[level="low"] .textbox-presentation-query ,
#urlbar[level="low"] .textbox-presentation-fragment {
  color: rgb(150, 150, 130);
}

#urlbar[linkify="true"] .textbox-presentation-segment > :not(.textbox-presentation-slash) {
  cursor: pointer;
}

#urlbar[linkify="true"] .textbox-presentation-segment:hover > * {
  text-decoration: underline;
}
