{{- if .secrets -}}
{{-   $ageKeyPath := .chezmoi.config.age.identity -}}
{{-   $st := stat $ageKeyPath -}}
{{-   if or (not $st) (eq $st.size 0) -}}
{{-     $op := includeTemplate "find-tool" (dict "root" . "tool" "op") -}}
{{-     if not $op -}}
# Age key: {{ $st }}

. $env:CHEZMOI_COMMAND_DIR\scripts\common.ps1

if (-Not (Get-Command scoop -ErrorAction SilentlyContinue)) {
    Invoke-Expression (New-Object System.Net.WebClient).DownloadString('https://get.scoop.sh')
}
RefreshEnvPath

scoop install 1password-cli
{{-     end -}}
{{-   end -}}
{{- end -}}
