{{- if .secrets -}}
{{-   $ageKeyPath := .chezmoi.config.age.identity -}}
{{-   $st := stat $ageKeyPath -}}
{{-   if or (not $st) (eq $st.size 0) -}}
# Age key: {{ $st }}

. "$env:CHEZMOI_SOURCE_DIR\..\scripts\common.ps1"

$AgeKeyPath = "{{ $ageKeyPath }}"
$Dir = Split-Path $AgeKeyPath

if (!(Test-Path $Dir)) {
    New-Item -ItemType Directory -Path $Dir | Out-Null
}

Write-Host "Installing age key to $AgeKeyPath ..."

@'
{{ onepasswordDocument .age.key_op_uuid -}}
'@ | Set-Content -Path $AgeKeyPath -Encoding ascii -NoNewline

# Tighten file permissions to user-only, like Unix chmod 600
Set-UserOnlyFileAccess -Pathname $AgeKeyPath

Write-Host "Age key installed to $AgeKeyPath"
{{-   end -}}
{{- end -}}
