{{- $vim := includeTemplate "find-tool" (dict "root" . "tool" "vim.exe") }}
{{- if not $vim -}}
{{-   $vim := includeTemplate "find-tool" (dict "root" . "tool" "nvim.exe") }}
{{- end }}
{{- $update := joinPath (printf "%s" .chezmoi.destDir) ".config" "vim" "script" "update.ps1" -}}
{{- if and $vim $update -}}
{{- if $vim -}}
{{ $update }} | Invoke-Expression
{{- end }}
