{{- $calibre := "" -}}
{{- if and .user_setup (not .headless) .ebook_library (not .work) -}}
{{-   $calibre = includeTemplate "find-tool" (dict "root" . "tool" "calibre") -}}
{{- end -}}
{{- $rpi_imager := "" -}}
{{- if and .user_setup (not .headless) .work -}}
{{-   $rpi_imager = includeTemplate "find-tool" (dict "root" . "tool" "rpi-imager") -}}
{{- end -}}
{{- if and .user_setup (not .headless) -}}
# GUI Applications
. $env:CHEZMOI_COMMAND_DIR\scripts\common.ps1

if (Install-Scoop-IfNotPresent 7zip 7zip.7zip) {
    reg import "$env:SCOOP\apps\7zip\current\install-context.reg" | Out-Null
}
Install-Scoop-IfNotPresent autohotkey AutoHotkey.AutoHotkey | Out-Null
Install-Scoop-IfNotPresent discord Discord.Discord | Out-Null
Install-Scoop-IfNotPresent ditto Ditto.Ditto | Out-Null
Install-Scoop-IfNotPresent devdocs egoist.devdocs-desktop | Out-Null
Install-Scoop-IfNotPresent gsudo gerardog.gsudo | Out-Null
Install-Scoop-IfNotPresent gpg4win GnuPG.Gpg4win | Out-Null
Install-Scoop-IfNotPresent bulk-crap-uninstaller Klocman.BulkCrapUninstaller | Out-Null
Install-Scoop-IfNotPresent pwsh Microsoft.PowerShell | Out-Null
Install-Scoop-IfNotPresent nodejs-lts OpenJS.NodeJS.LTS | Out-Null
if (Install-Scoop-IfNotPresent powertoys Microsoft.PowerToys) {
    Invoke-Expression -Command "C:\Users\WDAGUtilityAccount\scoop\apps\powertoys\current\install-context.ps1"
}
if (Install-Scoop-IfNotPresent windows-terminal Microsoft.WindowsTerminal) {
    reg import "$env:SCOOP\apps\windows-terminal\current\install-context.reg" | Out-Null
}
if (Install-Scoop-IfNotPresent notepadplusplus Notepad++.Notepad++) {
    reg import "$env:SCOOP\apps\notepadplusplus\current\install-context.reg" | Out-Null
}
Install-Scoop-IfNotPresent obsidian Obsidian.Obsidian | Out-Null
Install-Scoop-IfNotPresent squirreldisk squirreldisk.SquirrelDisk | Out-Null
Install-Scoop-IfNotPresent synctrayzor SyncTrayzor.SyncTrayzor | Out-Null
Install-Scoop-IfNotPresent vivaldi Vivaldi.Vivaldi | Out-Null
scoop install zed

{{    if .work -}}
{{      if not $rpi_imager -}}
scoop install raspberry-pi-imager
{{-     end }}
{{    else }}
{{/* not .work */}}
Install-Scoop-IfNotPresent sumatrapdf SumatraPDF.SumatraPDF | Out-Null
{{-     end }}
{{      if .gaming -}}
Install-Scoop-IfNotPresent steam Valve.Steam | Out-Null
{{-     end }}
{{      if .retro_computing -}}
scoop install 86box 86box-roms
{{-     end }}
{{      if .video -}}
Install-Scoop-IfNotPresent vlc VideoLAN.VLC | Out-Null
{{-     end }}
{{      if and .ebook_library (not $calibre) -}}
scoop install calibre
{{-     end }}
{{-   end }}
{{    if and .coding .containers (not .ephemeral) -}}
Install-Scoop-IfNotPresent devpod LoftLabs.DevPod | Out-Null
{{    end -}}

RefreshEnvPath
{{- end }}
