{{- if .user_setup -}}
{{/* Note: tmux and zsh are unavailable on Windows */}
{{/* Starship is used for the PS prompt. While it isn't Windows specific, I only use it there */}}
{{-   $scoop_tools := dict
        "git" "git"
        "git-lfs" "git-lfs"
        "tail" "gow"
        "npiperelay" "npiperelay"
        "recycle" "recycle-bin"
        "starship" "starship"
        "nvim" "neovim"
        "wget" "wget"
        "curl" "curl"
        "batman" "bat-extras"
        "less" "less"
        "unar" "unar"
        "zstd" "zstd"
-}}
{{-   $to_install := includeTemplate "packagesForMissingTools" (dict "root" . "packages" $scoop_tools) | fromJson -}}
{{-   if $to_install -}}
. $env:CHEZMOI_COMMAND_DIR\scripts\common.ps1

{{-     $installed_git := false -}}
{{-     range $to_install -}}
{{-       if eq . "git" -}}
{{-         $installed_git = true -}}
scoop install git

$gitdir = scoop prefix git
Add-EnvironmentVariableItem "PATH" "$gitdir\bin" -User

{{-       end -}}
{{-     end -}}
{{-     if $installed_git }}
if (-not (Test-Path "$env:SCOOP/buckets/extras")) {
  scoop bucket add extras
}
if (-not (Test-Path "$env:SCOOP/buckets/kergoth")) {
  scoop bucket add kergoth https://github.com/kergoth/scoop-bucket
}

{{-     end -}}
{{-     range $to_install -}}
{{-       if ne . "git" }}
scoop install {{ . }}
{{-       end -}}
{{-     end -}}
{{-   end -}}
{{- end }}
