{{- if .user_setup -}}
{{-   $uv_tools := dict "git-imerge" "git-imerge" "git-revise" "git-revise" -}}
{{-   $to_install := includeTemplate "packagesForMissingTools" (dict "root" . "packages" $uv_tools) | fromJson -}}
{{-   $unar := includeTemplate "find-tool" (dict "root" . "tool" "unar") -}}
{{-   $dtrx := includeTemplate "find-tool" (dict "root" . "tool" "dtrx") -}}
{{-   if and (not $unar) (not $dtrx) -}}
{{-     $to_install = append $to_install "dtrx" -}}
{{-   end -}}
{{-   if $to_install -}}
{{-     $uv := includeTemplate "find-tool" (dict "root" . "tool" "uv") -}}
{{-     if $uv }}
#!/usr/bin/env powershell
$ErrorActionPreference = "Stop"

{{-       range $to_install }}
& "{{ $uv }}" tool install {{ . }}
{{-       end }}
{{-     end }}
{{-   end }}
{{- end }}
