# Get editor completions based on the config schema
"$schema" = "https://starship.rs/config-schema.json"

# Insert a blank line between shell prompts.
add_newline = true

# Increase timeout.
command_timeout = 1000

format = """\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
{{- if not .right_prompt }}
$cmd_duration\
$jobs\
$direnv\
$python\
$username$hostname\
${env_var.VIMRUNTIME}\
$nix_shell\
${custom.wsl_admin}\
$container\
$battery\
{{- end }}
$line_break\
$character\
"""
{{- if .right_prompt }}
right_format = """\
$cmd_duration\
$jobs\
$direnv\
$python\
$username$hostname\
${env_var.VIMRUNTIME}\
$nix_shell\
${custom.wsl_admin}\
$container\
$line_break\
$battery\
"""
{{- end }}

[character]
error_symbol = "[✘](bold red)"
success_symbol = "[❯](bold green)"
vimcmd_symbol = "[❮](bold green)"
vimcmd_visual_symbol = "[V](bold green)"
vimcmd_replace_symbol = "[▶](bold green)"
vimcmd_replace_one_symbol = "[▶](bold green)"

[cmd_duration]
min_time = 3_000
format = "[$duration]($style) "
style = "bold yellow"

[directory]
format = "[$path]($style)[$read_only]($read_only_style) "
style = "blue"
truncate_to_repo = false

[git_branch]
format = "[$branch(:$remote_branch)]($style) "
style = "bold green"
symbol = ""

[git_commit]
format = "[@$hash$tag]($style) "
only_detached = true
style = "bold green"
tag_symbol = "#"

[git_state]
format = "[$state( $progress_current/$progress_total)]($style) "
style = "bold red"

[git_status]
format = "([$all_status$ahead_behind]($style) )"
stashed = ""
style = "bold yellow"
untracked = ""

[jobs]
format = "[$symbol]($style) "
style = "bold red"
symbol = " "

[direnv]
disabled = false
format = "[$symbol]($style) "
style = "bold yellow"
symbol = "▼"

[python]
detect_extensions = []
detect_files = []
format = "[$virtualenv]($style) "
style = "bold cyan"

[username]
format = "[$user]($style)@"
show_always = false
style_root = "bold red"
style_user = "white"

[hostname]
format = "[$hostname]($style) "
ssh_only = true
ssh_symbol = ""
style = "white"

[env_var.VIMRUNTIME]
format = "[$symbol]($style) "
symbol = ""
style = "bold green"
variable = "VIMRUNTIME"

[nix_shell]
format = '[$state( \($name\))]($style) '
pure_msg = "pure"
symbol = ""
style = "blue"

[custom.wsl_admin]
command = "printf '󰒘'"
format = "[$output]($style) "
os = "linux"
style = "bold red"
when = "test \"${WSL_IS_ADMIN:-}\" = 1"

[container]
format = "[$name]($style) "
style = "bold yellow"
symbol = ""

[battery]
format = "[$symbol$percentage]($style) "

[[battery.display]]
threshold = 10
style = "bold red"
