{{/* Cursor's CLI agent */}}
{{- $cursor_agent := includeTemplate "find-tool" (dict "root" . "tool" "agent") -}}
{{- if $cursor_agent -}}

echo >&2 "Checking for Cursor agent updates..."
command agent update

set_clitheme
env FPATH="$FPATH" CLITHEME="$CLITHEME" agent "$@"
{{ end -}}
