{{- $claude := includeTemplate "find-tool" (dict "root" . "tool" "claude") -}}
{{- if $claude -}}
{{-   $clear_env := "" -}}
{{-   if not .ephemeral -}}
{{-     $clear_env = "CLAUDE_CODE_OUTH_TOKEN= " -}}
{{-   end -}}
command env {{ $clear_env -}} claude "$@"
{{ end -}}
