{{- $codex := includeTemplate "find-tool" (dict "root" . "tool" "codex") -}}
{{- if $codex -}}
{{- $home := printf "%s" .chezmoi.destDir -}}
{{- $os := .chezmoi.os -}}

{{- $localPrefix := joinPath $home ".local" -}}
{{- $localCodexBin := joinPath $localPrefix "bin" "codex" -}}
{{- $localCodexPkg := joinPath $localPrefix "lib" "node_modules" "@openai" "codex" "package.json" -}}
{{- $npmCodexInstalled := and (ne $os "darwin") (stat $localCodexBin) (stat $localCodexPkg) -}}

{{- if eq $os "darwin" -}}
if [[ ${commands[codex]} = "$HOMEBREW_PREFIX/bin/codex" ]]; then
    echo >&2 "Checking for Codex updates..."
    HOMEBREW_AUTO_UPDATE=1 brew upgrade --quiet codex
fi
{{- else if $npmCodexInstalled -}}
if [[ ${commands[codex]} = "{{ $localCodexBin }}" ]]; then
    echo >&2 "Checking for Codex updates..."
    npm update -g --silent @openai/codex || true
fi
{{- end }}

command codex "$@"
{{ end -}}
