{{- $gh := includeTemplate "find-tool" (dict "root" . "tool" "gh") -}}
{{- if $gh -}}
(
    unset CLITHEME GLAMOUR_STYLE
    set_clitheme
    set_glamourstyle
    local gh_dash_config
    case "$CLITHEME" in
      light) gh_dash_config="${XDG_CONFIG_HOME:-$HOME/.config}/gh-dash/config-light.yml" ;;
      dark|*) gh_dash_config="${XDG_CONFIG_HOME:-$HOME/.config}/gh-dash/config-dark.yml" ;;
    esac
    env GLAMOUR_STYLE="$GLAMOUR_STYLE" GH_DASH_CONFIG="$gh_dash_config" gh "$@"
)
{{ end -}}
