{{- if .work -}}
-----BEGIN CERTIFICATE-----
MIIDjzCCAnegAwIBAgIJAKLvBfnMsm3GMA0GCSqGSIb3DQEBCwUAMGUxCzAJBgNV
BAYTAlJPMRIwEAYDVQQIDAlCdWNoYXJlc3QxEjAQBgNVBAcMCUJ1Y2hhcmVzdDER
MA8GA1UECgwIRW5kcG9pbnQxGzAZBgNVBAMMEkJpdGRlZmVuZGVyIENBIFNTTDAe
Fw0yNTExMTkyMDEyMzhaFw0zMDExMTgyMDEyMzhaMGUxCzAJBgNVBAYTAlJPMRIw
EAYDVQQIDAlCdWNoYXJlc3QxEjAQBgNVBAcMCUJ1Y2hhcmVzdDERMA8GA1UECgwI
RW5kcG9pbnQxGzAZBgNVBAMMEkJpdGRlZmVuZGVyIENBIFNTTDCCASIwDQYJKoZI
hvcNAQEBBQADggEPADCCAQoCggEBAO/47IQe/1Plk3YiQCHsohkrmp9XKw1/2GMz
ReJfPTo/p/RV0dW19TrUR7EFu4oVzZwOWfWVtSfoarbuhdDM3crkg4sjbMtRpnn4
VX4OYJm63LQI4afL1VTJjADBINwBejjUzfu8+uTub3r4pI165+jy90+6cQPKbAeh
JpLx5eF/EaMxAm1q86QZg0yEQkn3qYnKPHvY7w4MicC+Wx/3F7ChHR988A6/Nfr8
ia9o/vQoFMswoht+a30+wIEfkdBDOSbKrU0EdwaevpP3Yx5CuipBvj6hp+q7IFpj
mgs5U2vd25/vcUS5koQGXFOxqMpTTiNhLFL/S7+qjENLWM1z3QsCAwEAAaNCMEAw
DgYDVR0PAQH/BAQDAgEGMA8GA1UdEwQIMAYBAf8CAQAwHQYDVR0OBBYEFN3i5Lyn
E6ZMTYjhrUUC1ZnzmqbzMA0GCSqGSIb3DQEBCwUAA4IBAQBwjqlBcQbA86CQCVZF
H7YoFF4wOx+AZjWJSxN1O8wKyOJCvGxrYB87U4UAutHI0obIR6w0DglV20rHcOZe
stbhkzJ9CWC1KGm0OH8NteREHsopx0Imgzoqt5/sg0Pc78/LQS8tUfgPvIYK68yi
nvI7UswM7eMoqKezFXNBIMSBpJD/eq2EpOI2iKP5OUmV2tESP2RvE6rNy754ibD9
YmPDCj6HwaDTvqc0qPnIBaDugYcUwgdxu8cIojVh/z9t8a08Umq9zLh8kMCo/dAX
z63iUH0MY6H/eB1QcxTV97Wb3suepaVLJCm2KuuDTbWma884gToEKOYJezt1yN5S
W236
-----END CERTIFICATE-----
{{ end -}}
