/* Set italics and comments to a script font */
/* .mtki, .mtk5 {
    font-family: "Script12 BT"; /* Other options: Pacifico, FlottFlott */
    font-size: 1.2em;           /* 1.1em is also decent */
    font-style: normal;
    /* letter-spacing: .1em; Fix alignment issue, but disrupt the script */
} */

/* Fade the terminal when inactive, highlight when active */
.terminal {
    border-left: 1px solid #00ffaa;
    padding-left: 1em;
    opacity: 1;
}
.terminal:not(.focus) {
    border-color: transparent;
    opacity: 0.5;
}
