@import url("chrome://global/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.textbox-presentation-prePath > .textbox-presentation-slash {
  -moz-binding: url(chrome://locationbar2/skin/alternate/breadcrumb.xml#breadcrumb);
  list-style-image: url(chrome://locationbar2/skin/alternate/breadcrumb.png);
  -moz-image-region: rect(0,26px,13px,13px);
  height: 1em;
  width: 1.3em;
  -moz-padding-start: .1em;
  -moz-padding-end: .2em;
}

.textbox-presentation-prePath:hover > .textbox-presentation-slash {
  -moz-image-region: rect(0,39px,13px,26px);
}

.textbox-presentation-subdomain {
  -moz-margin-start: 0 !important;
}
.textbox-presentation-port {
  -moz-margin-end: 0 !important;
}