{{- if and .user_setup (not .use_nix) (eq .osid "linux-chimera") -}}
{{-   $cargo := includeTemplate "find-tool" (dict "root" . "tool" "cargo") -}}
{{-   if $cargo -}}
{{-     $sd := includeTemplate "find-tool" (dict "root" . "tool" "sd") -}}
{{-     $dua := includeTemplate "find-tool" (dict "root" . "tool" "dua") -}}
{{-     $choose := includeTemplate "find-tool" (dict "root" . "tool" "choose") -}}
{{-     $atuin := includeTemplate "find-tool" (dict "root" . "tool" "atuin") -}}
{{-     if or (not $sd) (not $dua) (not $choose) (not $atuin) -}}
#!/bin/sh
set -eu

{{-       if not $sd }}
echo >&2 "Installing sd"
"{{ $cargo }}" install --locked sd
{{-       end }}
{{-       if not $dua }}
echo >&2 "Installing dua"
"{{ $cargo }}" install --locked dua-cli
{{-       end }}
{{-       if not $choose }}
echo >&2 "Installing choose"
"{{ $cargo }}" install --locked choose
{{-       end }}
{{-       if not $atuin }}
echo >&2 "Installing atuin"
"{{ $cargo }}" install --locked atuin
{{-       end }}
{{-     end }}
{{-   end }}
{{- end }}
