{{- if and .user_setup (not .use_nix) (not .headless) (not .work) (not .steamdeck) (not (env "CONTAINER_ID")) -}}
{{-   $zed := includeTemplate "find-tool" (dict "root" . "tool" "zed") -}}
{{-   $claude := includeTemplate "find-tool" (dict "root" . "tool" "claude") -}}
{{-   if or (not $zed) (and (not .work) (not $claude)) -}}
#!/bin/sh
set -eu

scriptsdir="$CHEZMOI_COMMAND_DIR/scripts"
PATH="$scriptsdir:$HOME/.local/bin:$PATH"

# shellcheck source=./common.sh
. "$scriptsdir/common.sh" || exit 1

{{-     if not $zed }}
msg "Installing Zed"
curl -f https://zed.dev/install.sh | sh
{{-     end }}

{{-     if not $claude }}
msg "Installing Claude Code"
curl -fsSL https://claude.ai/install.sh | bash
{{-     end }}
{{-   end }}
{{- end }}
