{ config, pkgs, ... }:

let
  # Choose the right pinentry program depending on platform
  pinentry =
    if pkgs.stdenv.isDarwin then pkgs.pinentry_mac
    else if pkgs.stdenv.isLinux then pkgs.pinentry-curses
    else null;  # Windows is handled differently
in {
  # The home-manager manual is at:
  #
  #   https://rycee.gitlab.io/home-manager/release-notes.html
  #
  # Configuration options are documented at:
  #
  #   https://rycee.gitlab.io/home-manager/options.html

  home.stateVersion = "22.05";

  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.destDir }}";

  home.packages = with pkgs; [
    wget
    curl
    cacert

    gitFull
    git-lfs
    neovim
    ssh-copy-id
    tmux
    gnupg

    # Development
{{- if .containers }}
    docker
    docker-compose
{{- end }}
    nixpkgs-fmt

    # Languages
    (python3.withPackages (ps: with ps; [ pip ]))

    # Core tools
    eza
{{- if eq .chezmoi.os "darwin" }}
    choose
{{- end }}
    fd
    ripgrep
    zoxide
    sd
    sad
    tealdeer
    unar
    zstd

    # Shell
    bash
    atuin

    # SCM & Related
    delta
    difftastic
    gh
    git-absorb
    git-imerge
    git-revise
    patchutils
    jujutsu
  {{- if .work }}
    git-crypt
    google-cloud-sdk
    # Bug tracking and workflow
    jira-cli-go
  {{- end }}

    # Disk and Backup tools
    dua
    duf
    fclones
    restic
    rsync

    # Linting and formatting
    shfmt

    # Nix tools
    nvd

    # Security
{{- if .devpod }}
    gnupg
{{- end }}
  ] ++ lib.optionals stdenv.isDarwin [
    darwin.trash
{{- if .containers }}
    colima
{{- end }}
    duti
    lima
    mas
    reattach-to-user-namespace

    # GUI Applications
    #keepingyouawake
    keka
    kitty
    maccy
    obsidian
    {{- if lt .macos_major_version 26 }}
    {{/* Skip on Tahoe */}}
    raycast
    rectangle
    {{- end }}
    #syncthing
    zed-editor

    {{ if .containers -}}
    swiftbar
    {{   if and .coding (not .ephemeral) (not .headless) -}}
    # This shows up as cli-only
    #devpod
    {{-   end }}
    {{- end }}

    {{ if not .work -}}
    # Unavailable in nix, except as transmission-remote-gtk, which isn't supported on darwin in nix
    #transmission-remote-gui

    {{-   if lt .macos_major_version 26 }}
    {{/* Skip on Tahoe */}}
    ice-bar
    {{-   end }}

    # quicklook extensions (the ql extension is the only part I care about)
    # there are largely for security reasons, so are excluded from work machines
    apparency
    suspicious-package

    {{   if .ebook_library -}}
    #calibre
    {{-   end }}

    {{   if .gaming -}}
    #steam
    {{-   end }}

    {{   if .gaming_device_library -}}
    # ScummVM is needed to determine scummvm ids for deployment to gaming
    # devices, such as the Steam Deck.
    # This works, but provides the CLI but not the GUI.
    #scummvm
    {{-   end }}

    {{   if .music_library -}}
    #picard
    {{-   end }}

    {{   if .retro_computing -}}
    # This installs a wrapper, but no .app shows up
    #_86Box
    {{-   end }}

    {{   if .video -}}
    #vlc
    {{-   end }}

    {{   if not .ephemeral -}}
    # Commercial Apps I own personally
    #daisydisk
    #forklift
    #omnioutliner
    #popclip

    # LLMs
    chatgpt
    claude-code

    # Not at all related to work
    discord

    # I don't use work machines at night, so don't use Night Shift
    #shifty

    # I don't want personal content on work machines
    #reader

    # potential license concerns for commercial use
    # note: betterzip's extension requires macOS 10.9 or later
    #betterzip

    # No need for a screen saver in a VM or container
    #brooklyn
    {{-     if lt .macos_major_version 14 }}
    # Install on pre-Sonoma macOS
    #aerial
    {{-     end }}
    {{-   end }}

    {{- else }}

    {{   if not .music -}}
    #notunes
    {{-   end }}
    {{- end }}
  ] ++ lib.optionals stdenv.isLinux [
    glibcLocales
  {{- if .wsl2 }}
    socat
  {{- end }}
  {{- if and .coding .containers (not .ephemeral) (not .headless) }}
    devpod
  {{- end }}
  ];

  programs = {
    # Let Home Manager install and manage itself.
    home-manager.enable = true;

    # Enable directly supported programs
    direnv.enable = true;
    direnv.nix-direnv.enable = true;
    fzf.enable = true;
    jq.enable = true;
    bat.enable = true;
{{- if not .devpod }}
    # gnupg
    gpg.enable = true;
{{- end }}
  };

{{- if and .work .containers (not .ephemeral) (eq .chezmoi.os "darwin") }}
  services.colima = {
    enable = true;
  };
{{- end }}

{{- if not .devpod }}
  # Enable gpg-agent with pinentry
  services.gpg-agent = {
    enable = true;
    pinentry.package = pinentry;
    defaultCacheTtl = 3600;
    maxCacheTtl = 72000;
  };
{{- end }}

  nix.nixPath = ["nixpkgs=flake:nixpkgs"];

  # Allow unfree packages
  nixpkgs = {
    config = {
      allowUnfree = true;
      allowUnfreePredicate = (_: true);
    };
  };

  # Disable linking apps into ~/Applications/Home Manager Apps
  #targets.darwin.linkApps.enable = false;

  # Future-proof: if/when you bump home.stateVersion so copyApps becomes the default
  targets.darwin.copyApps.enable = false;
}
