{ config, pkgs, lib, ... }:

let
  modulesDir = ./modules;
  modules =
    builtins.map
      (name: modulesDir + "/${name}")
      (builtins.filter
        (name: lib.hasSuffix ".nix" name)
        (builtins.attrNames (builtins.readDir modulesDir)));

  # Choose the right pinentry program depending on platform
  pinentry =
    if pkgs.stdenv.isDarwin then pkgs.pinentry_mac
    else if pkgs.stdenv.isLinux then pkgs.pinentry-curses
    else null;  # Windows is handled differently
in {
  # The home-manager manual is at:
  #
  #   https://rycee.gitlab.io/home-manager/release-notes.html
  #
  # Configuration options are documented at:
  #
  #   https://rycee.gitlab.io/home-manager/options.html

  imports = modules
    ++ lib.optional (builtins.pathExists ./local.nix) ./local.nix;

  home.stateVersion = "22.05";

  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.destDir }}";

  home.packages = with pkgs; [
    wget
    curl
    cacert

    gitFull
    git-lfs
    neovim
    ssh-copy-id
    tmux
    gnupg

    # Development
{{- if .containers }}
    docker
    docker-compose
{{- end }}
    nixpkgs-fmt

    # Languages
    (python3.withPackages (ps: with ps; [ pip ]))
    nodejs

    # Core tools
    eza
{{- if eq .chezmoi.os "darwin" }}
    choose
{{- end }}
    fd
    ripgrep
    zoxide
    sd
    sad
    tealdeer
    unar
    zstd

    # Shell
    bash
    atuin

    # SCM & Related
    delta
    difftastic
    gh
    git-absorb
    git-imerge
    git-revise
    patchutils
    jujutsu
  {{- if .work }}
    git-crypt
    google-cloud-sdk
    # Bug tracking and workflow
    jira-cli-go
  {{- end }}

    # Disk and Backup tools
    dua
    duf
    fclones
    restic
    rsync

    # Linting and formatting
    shfmt

    # Nix tools
    nvd

    # Security
{{- if .devpod }}
    gnupg
{{- end }}
  ] ++ lib.optionals stdenv.isDarwin [
    darwin.trash
    duti
    lima
    mas
    reattach-to-user-namespace
  ] ++ lib.optionals stdenv.isLinux [
    glibcLocales
  {{- if .wsl2 }}
    socat
  {{- end }}
  {{- if and .coding .containers (not .ephemeral) (not .headless) }}
    devpod
  {{- end }}
  ];

  programs = {
    # Let Home Manager install and manage itself.
    home-manager.enable = true;

    # Enable directly supported programs
    direnv.enable = true;
    # direnv.nix-direnv.enable = true;
    fzf.enable = true;
    jq.enable = true;
    bat.enable = true;
{{- if and .containers (not .ephemeral) (eq .chezmoi.os "darwin") }}
    colima.enable = true;
{{- end }}
{{- if not .devpod }}
    # gnupg
    gpg.enable = true;
{{- end }}
  };

{{- if and .work .containers (not .ephemeral) (eq .chezmoi.os "darwin") }}
  services.colima.enable = true;
{{- end }}
{{- if not .devpod }}
  # Enable gpg-agent with pinentry
  services.gpg-agent = {
    enable = true;
    pinentry.package = pinentry;
    defaultCacheTtl = 3600;
    maxCacheTtl = 72000;
  };
{{- end }}

  nix.nixPath = ["nixpkgs=flake:nixpkgs"];

  # Disable linking apps into ~/Applications/Home Manager Apps
  targets.darwin.linkApps.enable = false;

  # Future-proof: if/when you bump home.stateVersion so copyApps becomes the default
  targets.darwin.copyApps.enable = false;
}
