{ config, pkgs, ... }:

{
  # The home-manager manual is at:
  #
  #   https://rycee.gitlab.io/home-manager/release-notes.html
  #
  # Configuration options are documented at:
  #
  #   https://rycee.gitlab.io/home-manager/options.html

  home.stateVersion = "22.05";

  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  home.packages = with pkgs; [
    wget
    curl
    cacert

    git
    git-lfs
    neovim
    ssh-copy-id
    tmux
    gnupg

    # Development
{{- if .docker }}
    docker
{{- end }}
    nixpkgs-fmt

    # Languages
    cargo
    (python3.withPackages (ps: with ps; [ pip ]))
    go

    # Core tools
    eza
    choose
    fd
    ripgrep
    zoxide
    sd
    sad
    tealdeer
    unar
    zstd

    # SCM & Related
    delta
    gh
    ghq
    git-absorb
    git-imerge
    git-revise
    patchutils
    sapling
  {{- if .work }}
    glab
  {{- end }}

    # Disk tools
    dua
    duf
    du-dust

    # Linting and formatting
    shellcheck
    shfmt

    # Bug tracking and workflow
    jira-cli-go

    # Nix tools
    nvd
  ] ++ lib.optionals stdenv.isDarwin [
    qemu
    colima
    duti
    lima
    mas
    reattach-to-user-namespace
  ] ++ lib.optionals stdenv.isLinux [
    glibcLocales
  {{- if .wsl2 }}
    socat
  {{- end }}
  ];

  programs = {
    # Let Home Manager install and manage itself.
    home-manager.enable = true;

    # Enable directly supported programs
    direnv.enable = true;
    # direnv.nix-direnv.enable = true;
    fzf.enable = true;
    jq.enable = true;
    bat.enable = true;
  };
}
