tap "kergoth/misc"
tap "microsoft/git"

cask "1password"
cask "blockblock"
cask "gpg-suite"
cask "karabiner-elements"
cask "lulu"
{{ if not .work -}}
cask "parallels"
{{- end }}
cask "qlvideo"
cask "reikey"
cask "whatsyoursign"
cask "microsoft/git/git-credential-manager-core"
