cask_args appdir: "~/Applications"

{{ if not .use_nix -}}
brew "node"
brew "uv"

# CLI tools
brew "atuin"
brew "bat"
brew "choose-rust"
brew "difftastic"
brew "direnv"
brew "dua-cli"
brew "duf"
brew "fd"
brew "fzf"
brew "gh"
brew "ghq"
brew "git-absorb"
brew "git-delta"
brew "jira-cli"
brew "jq"
brew "restic"
brew "ripgrep"
brew "sad"
brew "sd"
brew "shellcheck"
brew "shfmt"
brew "tealdeer"
brew "zoxide"
{{- end }}

# apps
cask "keepingyouawake"
{{ if and .user_setup (not .ephemeral) (not .headless) -}}
cask "syncthing-app"
{{- end }}

{{ if and .containers .coding (not .ephemeral) (not .headless) -}}
cask "devpod"
{{- end }}

# These are CLI tools, but homebrew has newer version than nix,
# and these update frequently enough to be worth installing here.
cask "claude-code"
brew "jj"

{{ if not .work -}}
cask "codex"

cask "transmission-remote-gui"

{{   if .ebook_library -}}
cask "calibre"
{{-   end }}

{{   if .gaming -}}
cask "steam"
{{-   end }}

{{   if and .gaming_device_library (not .headless) -}}
# ScummVM is needed to determine scummvm ids for deployment to gaming
# devices, such as the Steam Deck.
cask "scummvm-app"
{{-   end }}

{{   if and .music_library (not .headless) -}}
cask "musicbrainz-picard"
{{-   end }}

{{   if .retro_computing -}}
cask "86box"
{{-   end }}

{{   if .video -}}
cask "vlc"
{{-   end }}

{{   if not .ephemeral -}}
# Commercial Apps I own personally
cask "daisydisk"
cask "forklift"
cask "omnioutliner"
cask "popclip"

# I don't use work machines at night, so don't use Night Shift
cask "shifty"

# I don't want personal content on work machines
cask "reader"

# potential license concerns for commercial use
# note: betterzip's extension requires macOS 10.9 or later
cask "betterzip"

# No need for a screen saver in a VM or container
cask "brooklyn"
{{-     if lt .macos_major_version 14 }}
# Install on pre-Sonoma macOS
cask "aerial"
{{-     end }}
{{-   end }}
{{- end }}
