tap "kergoth/misc"

cask "1password"
cask "blockblock"
cask "carbon-copy-cloner@6"
cask "karabiner-elements"
cask "lulu"
cask "reikey"
cask "whatsyoursign"

{{ if not .work -}}
cask "parallels"
{{- end }}
