cask_args appdir: "~/Applications"

# cli tools
brew "trash"

# apps
cask "appcleaner"
cask "keepingyouawake"
cask "keka"
cask "kitty"
cask "maccy"
cask "obsidian"
cask "raycast"
cask "rectangle"
cask "zed"

{{ if not .work -}}
# Commercial Apps I own personally
cask "daisydisk"
cask "omnioutliner"
cask "popclip"
cask "soulver2"

# Not at all related to work
cask "discord"
cask "vivaldi"

# I don't use work machines at night, so don't use Night Shift
cask "shifty"

# I don't want personal content on work machines
cask "reader"
cask "syncthing-app"

# Not necessary enough to install on work machines
cask "jordanbaird-ice"

# No iCloud at work
brew "mas"

mas "Deliveries", id: 290986013
mas "LilyView", id: 529490330
mas "UnPlugged", id: 423123087
mas "WiFi Explorer", id: 494803304
mas "WiFi Signal", id: 525912054
{{- end }}

# llm apps
cask "claude-code"

# quicklook extensions (the ql extension is the only part I care about)
cask "apparency"
cask "suspicious-package"

{{ if not .work -}}
# potential license concerns for commercial use
# note: betterzip's extension requires macOS 10.9 or later
cask "betterzip"
{{- end }}

# safari extensions
{{ if not .work -}}
mas "1Password for Safari", id: 1569813296
mas "Declutter", id: 1574021257
mas "Hush", id: 1544743900
mas "Kagi for Safari", id: 1622835804
mas "Privacy Redirect", id: 1578144015
mas "Save to Reader", id: 1640236961
mas "SessionRestore", id: 1463334954
mas "StopTheMadness Pro", id: 6471380298
mas "Tampermonkey Classic", id: 1482490089
mas "uBlock Origin Lite", id: 6745342698
mas "Vinegar", id: 1591303229
{{- end }}

# coding
{{ if .coding -}}
cask "dteoh-devdocs"
{{- end }}

# containers
{{ if .containers -}}
cask "swiftbar"
{{- end }}

# ebook_library
{{ if and .ebook_library (not .work) -}}
cask "calibre"
{{- end }}

# gaming
{{ if and .gaming (not .work) -}}
cask "steam"
mas "Steam Link", id: 1246969117
{{- end }}

# music
{{ if and .music (not .work) -}}
mas "MusicHarbor", id: 1440405750
{{- end }}

# music_library
{{ if and .music_library (not .work) -}}
# add music library apps here (i.e. beets)
{{- end }}

# personal
{{ if .personal -}}
{{   if and (not .ephemeral) (not (env "CONTAINER_ID")) -}}
# No need for a screen saver in a VM or container
cask "brooklyn"
{{-   end }}
cask "transmission-remote-gui"
{{- end }}

# video
{{ if and .video (not .work) -}}
cask "vlc"
mas "Play", id: 1596506190
{{- end }}

# work
{{ if .work -}}
cask "slack"
cask "zoom"
{{- end }}
