#!/usr/bin/env chezmoi-exec
#!/usr/bin/env bash

{{- $host := .chezmoi.hostname }}
{{- $default_tilesize := dig "ui" "global" "macos" "dock_tilesize" 48 . }}
{{- $dock_tilesize := dig "ui" $host "macos" "dock_tilesize" $default_tilesize . }}

scriptdir="$(cd "$(dirname "$0")" && pwd -P)"
tmpdir="$(mktemp -d -t "${0##*/}.XXXXXX")" || exit 1
trap 'rm -rf "$tmpdir"' EXIT INT TERM

# shellcheck source=./../common.sh
. "$scriptdir/../common.sh" || exit 1

# Expose hidden files and Library folder in Finder:
defaults write com.apple.finder AppleShowAllFiles -bool true
chflags nohidden ~/Library
xattr -d com.apple.FinderInfo ~/Library 2>/dev/null || :

# Show all filename extensions (so that "Evil.jpg.app" cannot masquerade easily).
defaults write -g AppleShowAllExtensions -bool true

# Expand the save dialog by default in all applications
defaults write -g NSNavPanelExpandedStateForSaveMode -bool true
defaults write -g NSNavPanelExpandedStateForSaveMode2 -bool true

# Expand the print dialog by default in all applications
defaults write -g PMPrintingExpandedStateForPrint -bool true
defaults write -g PMPrintingExpandedStateForPrint2 -bool true

# Disable press-and-hold for keys in favor of key repeat
defaults write -g ApplePressAndHoldEnabled -bool false

# Always open everything in Finder's list view
defaults write com.apple.finder FXPreferredViewStyle Nlsv

# Enable quit menu item for Finder
defaults write com.apple.finder QuitMenuItem -bool true

# Do not display a warning when changing a file extension in the Finder
defaults write com.apple.finder FXEnableExtensionChangeWarning -bool false

# Finder: show path bar
defaults write com.apple.finder ShowPathbar -bool true

# Finder: show status bar
defaults write com.apple.finder ShowStatusBar -bool true

# When performing a search, search the current folder by default
defaults write com.apple.finder FXDefaultSearchScope -string "SCcf"

# Disable the warning before emptying the Trash
defaults write com.apple.finder WarnOnEmptyTrash -bool false

# Remove autohide dock delay
defaults write com.apple.dock autohide-delay -float 0

# Speed up autohide animation
defaults write com.apple.dock autohide-time-modifier -float 0.25

# Make hidden dock icons translucent
defaults write com.apple.dock showhidden -bool true

# Disable scroll gesture with modifier keys to zoom
defaults write com.apple.AppleMultitouchTrackpad HIDScrollZoomModifierMask -int 0
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad HIDScrollZoomModifierMask -int 0

# Do not autogather large files when submitting a report
defaults write com.apple.appleseed.FeedbackAssistant Autogather -bool false

# Do not prompt to use new external disks for Time Machine
defaults write com.apple.TimeMachine DoNotOfferNewDisksForBackup -bool true

## Activity Monitor

# Show the main window when launching Activity Monitor
defaults write com.apple.ActivityMonitor OpenMainWindow -bool true

# Visualize CPU usage in the Activity Monitor Dock icon
defaults write com.apple.ActivityMonitor IconType -int 5

# Show all processes in Activity Monitor
defaults write com.apple.ActivityMonitor ShowCategory -int 0

# Sort Activity Monitor results by CPU usage
defaults write com.apple.ActivityMonitor SortColumn -string "CPUUsage"
defaults write com.apple.ActivityMonitor SortDirection -int 0

## Personal preferences
# Autohide
defaults write com.apple.dock autohide -bool true
defaults write com.apple.dock tilesize -int {{ $dock_tilesize }}

# Hide desktop icons completely
defaults write com.apple.finder CreateDesktop -bool false

# Move the Dock to the left
defaults write com.apple.dock orientation -string left

# Do not display recent apps in the Dock
defaults write com.apple.dock show-recents -bool false

# Scale minimize animation rather than Genie
defaults write com.apple.dock mineffect -string scale

# Move screenshots to ~/Pictures/Screenshots
# shellcheck disable=SC2088
defaults write com.apple.screencapture location -string "$HOME/Pictures/Screenshots"

# Default to plain text in TextEdit
defaults write com.apple.TextEdit RichText -bool false

# Top left screen corner → Sleep display
defaults write com.apple.dock wvous-tl-corner -int 10
defaults write com.apple.dock wvous-tl-modifier -int 0

# Top right screen corner → Start screen saver
defaults write com.apple.dock wvous-tr-corner -int 5
defaults write com.apple.dock wvous-tr-modifier -int 0

# Bottom right screen corner → Disable (no action, disables Quick Note)
defaults write com.apple.dock wvous-br-corner -int 1
defaults write com.apple.dock wvous-br-modifier -int 0

# Disable font smoothing
defaults -currentHost write -g AppleFontSmoothing -int 0

{{ if eq .chezmoi.hostname "vaelin" -}}
    # Select 2x display scaling for better font rendering
    /usr/bin/python3 -m venv "$tmpdir/venv"
    (
    	# shellcheck disable=SC1091
    	. "$tmpdir/venv/bin/activate"

    	pip install wheel
    	pip install pyobjc-core pyobjc-framework-Cocoa pyobjc-framework-Quartz

    	site="$(python3 -c 'import site; print(site.getsitepackages()[0])')"
    	if ! [ -e "$site/display_manager_lib.py" ]; then
    		mkdir -p "$site"
    		curl -Lfso "$site/display_manager_lib.py" "https://raw.githubusercontent.com/univ-of-utah-marriott-library-apple/display_manager/stable/display_manager_lib.py"
    	fi

    	python3 "$scriptdir"/set-resolution-scale-2.py
    )
{{- end }}

{{ if and (not .ephemeral) (not (env "CONTAINER_ID")) -}}
{{   $devpod := includeTemplate "find-tool" (dict "root" . "tool" "devpod") -}}
{{   if $devpod -}}
# Configure DevPod
devpod_configure \
    "https://github.com/kergoth/dotfiles" \
    "script/setup" \
    "$HOME/.ssh/config.d/devpod" \
    "docker" || :
{{-   end }}
{{- end }}

killall Dock
killall SystemUIServer
killall Finder
