#!/usr/bin/env chezmoi-exec
#!/usr/bin/env bash

scriptdir="$(cd "$(dirname "$0")" && pwd -P)"

# shellcheck source=./../common.sh
. "$scriptdir/../common.sh" || exit 1

# Enable Firewall (socketfilterfw required for Sequoia+)
sudorun /usr/libexec/ApplicationFirewall/socketfilterfw --setglobalstate on
sudorun /usr/libexec/ApplicationFirewall/socketfilterfw --setallowsigned off

# Enable Stealth Mode
sudorun /usr/libexec/ApplicationFirewall/socketfilterfw --setstealthmode on

# Disable Guest account
sudorun sysadminctl -guestAccount off

# Enable automatic background check for macOS software updates
sudorun defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticCheckEnabled -bool true
# Enable automatic download of macOS software updates
sudorun defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticDownload -bool true
# Enable automatic download and installation of XProtect, MRT and Gatekeeper updates
sudorun defaults write /Library/Preferences/com.apple.SoftwareUpdate ConfigDataInstall -bool true
# Enable automatic download and installation of automatic security updates
sudorun defaults write /Library/Preferences/com.apple.SoftwareUpdate CriticalUpdateInstall -bool true

# Enable automatic download and installation of macOS updates (macOS 10.14+)
sudorun defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticallyInstallMacOSUpdates -bool true

# Silence Boot chime
sudorun nvram SystemAudioVolume=" "
