if [[ "$OSTYPE" == darwin* ]]; then
    export BROWSER='open'
fi

# Reduce the ncurses escape wait time (ms)
export ESCDELAY=25
export NCURSES_NO_UTF8_ACS=1

if [[ -z "$LANG" ]] || [[ -z "$LC_ALL" ]]; then
    export LANG=en_US.UTF-8
    export LC_ALL=en_US.UTF-8
fi

export GREP_COLORS='ms=30;43:mc=30;43:sl=:cx=:fn=1;34:ln=1;33:bn=32:se=36'

export EMAIL='{{ .email }}'
export FULLNAME='{{ .name }}'
export DEBEMAIL=$EMAIL
export DEBFULLNAME=$FULLNAME

export XAUTHORITY=${XDG_RUNTIME_DIR:-$XDG_STATE_HOME}/Xauthority
export DOCKER_CONFIG="$XDG_CONFIG_HOME"/docker
export MACHINE_STORAGE_PATH="$XDG_DATA_HOME"/docker-machine
export RANDFILE=$XDG_DATA_HOME/rng
export PARALLEL_HOME="$XDG_STATE_HOME"/parallel
export LESSHISTFILE=$XDG_STATE_HOME/lesshst
export _FASD_VIMINFO=$XDG_STATE_HOME/vim/viminfo
export _FASD_DATA=$XDG_STATE_HOME/fasd/data
if [[ "$OSTYPE" != darwin* ]]; then
    export _ZO_DATA_DIR=$XDG_STATE_HOME/zoxide
fi
if [[ -n $XDG_RUNTIME_DIR ]]; then
    export TMUX_TMPDIR=$XDG_RUNTIME_DIR
fi
export CURL_HOME="$XDG_CONFIG_HOME/curl"
export INPUTRC=$XDG_CONFIG_HOME/readline/inputrc
export REPO_CONFIG_DIR=$XDG_CONFIG_HOME/repo
export RIPGREP_CONFIG_PATH=$XDG_CONFIG_HOME/ripgrep/config
export CFLAGS=-O2
export XZ_DEFAULTS=--threads=0
export PAGER=more
export YSU_IGNORED_ALIASES=("vi")
export SHELLCHECK_OPTS="-e SC2002 -e SC2039 -e SC2209"
export _ZO_FZF_OPTS=$FZF_DEFAULT_OPTS

# Rust
export CARGO_HOME="$XDG_DATA_HOME/cargo"
export CARGO_INSTALL_ROOT="${XDG_DATA_HOME%/*}"
export RUSTUP_HOME="$XDG_DATA_HOME/rustup"

# Python
export WORKON_HOME=$XDG_DATA_HOME/virtualenvs
export PIP_DOWNLOAD_CACHE=$XDG_CACHE_HOME/pip

# Homebrew
export HOMEBREW_PREFIX=${HOMEBREW_PREFIX:-~/.brew}

# Nix
export NIX_PATH=$HOME/.nix-defexpr/channels:/nix/var/nix/profiles/per-user/root/channels${NIX_PATH:+:$NIX_PATH}

if [ -e ~/.nix-profile/lib/locale/locale-archive ]; then
    export LOCALE_ARCHIVE="$HOME/.nix-profile/lib/locale/locale-archive"
elif [ -e /usr/lib/locale/locale-archive ]; then
    export LOCALE_ARCHIVE=/usr/lib/locale/locale-archive
fi

for dir in $HOME/.terminfo $XDG_CONFIG_HOME/ncurses/terminfo $HOMEBREW_PREFIX/share/terminfo /Users/Shared/homebrew/share/terminfo /opt/homebrew/share/terminfo /usr/local/share/terminfo /usr/share/terminfo; do
    if [[ -d $dir ]]; then
        TERMINFO_DIRS="$TERMINFO_DIRS:$dir"
    fi
done
if [[ -n "$TERMINFO_DIRS" ]]; then
    TERMINFO_DIRS="${TERMINFO_DIRS#:}"
fi
export TERMINFO_DIRS

if [[ -n $TERM_PROGRAM ]]; then
    export TERM_PROGRAM
fi

# Git
export GHQ_ROOT=~/Repos
# git-get repository path
export GIT_PATH=~/Repos

# Fix SSH auth socket location so agent forwarding works with tmux and VS Code
if [ -n "$SSH_AUTH_SOCK" ] && [ -e "$HOME/.ssh/auth_sock" ] && [ "$SSH_AUTH_SOCK" != "$HOME/.ssh/auth_sock" ]; then
    export SSH_AUTH_SOCK="$HOME/.ssh/auth_sock"
fi

if [[ -e $ZDOTDIR/.zprofile.local ]]; then
    . "$ZDOTDIR/.zprofile.local"
fi
