PYZOR=/usr/bin/pyzor
SPAM_PYZOR=$SPAM-pyzor

#:0 c
#| $PYZOR check
#:0 Wa
#$SPAM_PYZOR

:0 Wc
| $PYZOR check
:0 Wa
$SPAM_PYZOR

#:0 Wc
#| $PYZOR check :0 a
#$SPAM_PYZOR

#:0 Wc
#| pyzor check
#:0 Waf
#| formail -A 'X-Pyzor: spam'
