PATH=/bin:/usr/bin:/sbin:/usr/sbin:$HOME/bin:/usr/local/bin
SHELL=/bin/bash

# "VERBOSE=on" is only used for debugging.
VERBOSE=on

SENDMAIL=sendmail
MAILDIR=$HOME/mail
# DEFAULT=/var/mail/kergoth
DEFAULT=$MAILDIR/Inbox
LOGFILE=$HOME/.procmail.log
LOGABSTRACT = "all"

# where to send spam
SPAM=$MAILDIR/spam
SPAM_UNREADABLE=$MAILDIR/spam-unreadable
SPAM_VIRUS=$MAILDIR/spam-virus
SPAM_RAZOR=$MAILDIR/spam-razor
SPAM_UNSURE=$MAILDIR/spam-unsure
