###################
#  Mailing lists  #
###################
#
# I changed this setup recently. Now I'm on a million lists, it's nice to
# know the hostname as well as the list name. If you want just the listname
# for the mail folder, use something like:
#
# * ^X-Mailing-List:[   ]<\/[^@]+
# lists/`echo $MATCH | sed -e 's/[\/]/_/g' | tr A-Z a-z`
#
# And the same for the others.

:0:
* ^X-Mailing-List:[ 	]<\/[^ >`']+
lists/`echo $MATCH | sed -e 's/[\/]/_/g' | tr A-Z a-z`

:0:
* ^X-Mailing-List:[ 	]\/[^ `']+
lists/`echo $MATCH | sed -e 's/[\/]/_/g' | tr A-Z a-z`

:0:
* ^Sender:[ 	]owner-\/[^ `']+
lists/`echo $MATCH | sed -e 's/[\/]/_/g' | tr A-Z a-z`

:0:
* ^X-BeenThere:[ 	]\/[^ `']+
lists/`echo $MATCH | sed -e 's/[\/]/_/g' | tr A-Z a-z`

:0:
* ^Delivered-To:[ 	]mailing list \/[^ `']+
lists/`echo $MATCH | sed -e 's/[\/]/_/g' | tr A-Z a-z`

:0:
* ^X-Loop:[ 	]\/[^ `']+
lists/`echo $MATCH | sed -e 's/[\/]/_/g' | tr A-Z a-z`

