---
runtime:
  threads: ~
release:
  check: true
manifest:
  enable: true
  secondary:
    - url: "https://raw.githubusercontent.com/BloodShed-Oni/ludusavi-extra-manifests/main/BS_ex-manifest.yaml"
      enable: true
    - url: "https://raw.githubusercontent.com/hblamo/ludusavi-emudeck-manifest/main/manifest.yml"
      enable: true
    - url: "https://raw.githubusercontent.com/BloodShed-Oni/ludusavi-extra-manifests/main/BS_software-manifest.yaml"
      enable: true
    - url: "https://github.com/hvmzx/ludusavi-manifests/raw/refs/heads/main/non-steam-manifest.yml"
      enable: true
language: en-US
theme: dark
roots:
  - store: steam
    path: {{ .chezmoi.homeDir }}/.local/share/Steam
  - store: heroic
    path: {{ .chezmoi.homeDir }}/.var/app/com.heroicgameslauncher.hgl/config/heroic
  - store: steam
    path: {{ .sdcard_mount }}
  - store: heroic
    path: {{ .chezmoi.homeDir }}/Games/Heroic
  - store: other
    path: {{ .chezmoi.homeDir }}/Games
  - store: other
    path: {{ .sdcard_mount }}/Games
  - store: otherHome
    path: {{ .sdcard_mount }}
  - store: other
    path: {{ .chezmoi.homeDir }}/Games/sdos
  - store: other
    path: {{ .chezmoi.homeDir }}/Games/swin
  - store: other
    path: {{ .sdcard_mount }}/Games/Linux
  - store: other
    path: {{ .sdcard_mount }}/Games/Windows
redirects: []
backup:
  path: {{ .sdcard_mount }}/Saves Backup
  ignoredGames: []
  filter:
    excludeStoreScreenshots: true
    cloud:
      exclude: true
      epic: false
      gog: false
      origin: false
      steam: true
      uplay: false
    ignoredPaths:
      - {{ .chezmoi.homeDir }}/Applications/ShipofHarkinian/logs
      - {{ .chezmoi.homeDir }}/Applications/2Ship2Harkinian/logs
      - {{ .chezmoi.homeDir }}/.var/app/io.github.shiiion.primehack/data/dolphin-emu/Load
      - {{ .chezmoi.homeDir }}/.var/app/org.DolphinEmu.dolphin-emu/data/dolphin-emu/Load
    ignoredRegistry: []
  toggledPaths:
    2 Ship 2 Harkinian:
      {{ .chezmoi.homeDir }}/Applications/2Ship2Harkinian: false
    Dolphin:
      {{ .chezmoi.homeDir }}/.var/app/org.DolphinEmu.dolphin-emu/data/dolphin-emu/Load: false
    Ship of Harkinian:
      {{ .chezmoi.homeDir }}/Applications/ShipofHarkinian: false
  toggledRegistry: {}
  sort:
    key: name
    reversed: false
  retention:
    full: 3
    differential: 6
  format:
    chosen: simple
    zip:
      compression: deflate
    compression:
      deflate:
        level: 6
      bzip2:
        level: 6
      zstd:
        level: 10
  onlyConstructive: false
restore:
  path: {{ .sdcard_mount }}/Saves Backup
  toggledPaths: {}
  toggledRegistry: {}
  sort:
    key: status
    reversed: true
  reverseRedirects: false
scan:
  showDeselectedGames: true
  showUnchangedGames: true
  showUnscannedGames: true
cloud:
  remote:
    Smb:
      id: ludusavi-1728618970
      host: 192.168.68.67
      port: 445
      username: steamdeck
  path: Archives/Backups/Game Saves/Deck
  synchronize: true
apps:
  rclone:
    path: {{ .chezmoi.homeDir }}/.local/bin/rclone
    arguments: "--fast-list --ignore-checksum"
customGames:
  - name: Portal 2
    integration: extend
    files:
      - "<game>/portal2/puzzles"
    registry: []
    installDir: []
  - name: Brütal Legend
    integration: extend
    files:
      - "<home>/.local/share/doublefine/brutallegend/"
    registry: []
    installDir: []
  - name: Ship of Harkinian
    integration: override
    files:
      - "<root>/ShipofHarkinian/imgui.ini"
      - "<root>/ShipofHarkinian/shipofharkinian.json"
      - "<root>/ShipofHarkinian/Save/"
      - "<root>/The Legend of Zelda - Ocarina of Time/Save/"
      - "<root>/The Legend of Zelda - Ocarina of Time/shipofharkinian.json"
      - "<root>/The Legend of Zelda - Ocarina of Time/imgui.ini"
    registry: []
    installDir: []
  - name: 2 Ship 2 Harkinian
    integration: override
    files:
      - "<root>/2Ship2Harkinian/imgui.ini"
      - "<root>/2Ship2Harkinian/2ship2harkinian.json"
      - "<root>/2Ship2Harkinian/saves/"
      - "<root>/The Legend of Zelda - Majora's Mask/imgui.ini"
      - "<root>/The Legend of Zelda - Majora's Mask/2ship2harkinian.json"
      - "<root>/The Legend of Zelda - Majora's Mask/saves/"
    registry: []
    installDir: []
  - name: Super Mario 64 EX
    integration: override
    files:
      - "<home>/.local/share/sm64ex"
    registry: []
    installDir: []
  - name: Sonic 3 A.I.R.
    integration: extend
    files:
      - "<home>/.local/share/Sonic3AIR/"
    registry: []
    installDir: []
  - name: The Booze of Monkey Island
    integration: extend
    files:
      - "<home>/.local/share/BEAN - Adventure Agency/The Booze Of Monkey Island/"
    registry: []
    installDir: []
  - name: Vampire Survivors
    integration: extend
    files:
      - "<winAppData>/Vampire_Survivors_<storeUserId>"
    registry: []
    installDir: []
  - name: FEZ
    integration: extend
    files:
      - "<winAppData>/FEZ"
    registry: []
    installDir: []
  - name: Path of Exile II
    integration: extend
    files:
      - "<winDocuments>/My Games/Path of Exile 2"
    registry: []
    installDir: []
  - name: The Black Cauldron Remake
    integration: extend
    files:
      - "<root>/The Black Cauldron Remake/agssave*"
    registry: []
    installDir: []
