{{- $fasd := includeTemplate "find-tool" (dict "root" . "tool" "fasd") }}
{{- $zoxide := includeTemplate "find-tool" (dict "root" . "tool" "zoxide") }}
{{- if and $fasd (not $zoxide) -}}
# fasd integration (found at: {{ $fasd }})
{{ output $fasd "--init" "posix-alias" "zsh-hook" "zsh-ccomp" "zsh-ccomp-install" "zsh-wcomp" "zsh-wcomp-install" | trim }}

alias ff="fasd -f"
unalias f 2>/dev/null || :
unalias sd 2>/dev/null || :

{{- if eq .chezmoi.os "darwin" }}
alias o="a -e open"
{{- else }}
alias o="a -e xdg-open"
{{- end }}

{{- $fzf := includeTemplate "find-tool" (dict "root" . "tool" "fzf") }}
{{- if $fzf }}
_z_fzf () {
    if [[ $# -eq 0 ]]; then
        cd "$(fasd -d 2>&1 | fzf +s --tac | sed 's/^[0-9,.]* *//')"
    else
        fasd_cd -d "$@"
    fi
}
alias z=_z_fzf

_v_fzf () {
    local file
    file="$(ff -t -l -b viminfo "$1" | fzf -1 -0 --no-sort --tac +m)" && vim "${file}" || return 1
}
alias v=_v_fzf
{{- else }}
alias v='ff -t -e vim -b viminfo'
{{- end }}
{{- else }}
{{- end -}}
