{{ if .steamdeck -}}
# shellcheck disable=SC2016
export RESTIC_PASSWORD_FILE=$HOME/.config/restic/password.txt
export RESTIC_REPOSITORY=rclone:ludusavi-1728618970:Archives/Backups/System/Deck\ Restic

alias stl=steamtinkerlaunch
{{- end }}
