#!/usr/bin/env chezmoi-exec
{{- $codename := .chezmoi.osRelease.versionCodename -}}
#!/usr/bin/env bash

set -euo pipefail

scriptdir=$(cd "$(dirname "$0")" && pwd -P)
PATH="$scriptdir/debian:$scriptdir/linux:$scriptdir:$PATH"

# shellcheck source=./common.sh
. "$scriptdir/common.sh" || exit 1

need_sudo

if ! has xz || ! has zsh; then
    sudorun env DEBIAN_FRONTEND=noninteractive apt-get -y update
fi

# Install xz for nix
if ! has xz; then
    sudorun env DEBIAN_FRONTEND=noninteractive apt-get -y install xz-utils
fi

if ! has zsh; then
    sudorun env DEBIAN_FRONTEND=noninteractive apt-get -y install zsh
fi

{{ if not .headless -}}
# Install KDE Plasma and display manager
sudorun env DEBIAN_FRONTEND=noninteractive apt-get -y update
sudorun env DEBIAN_FRONTEND=noninteractive apt-get -y install kde-plasma-desktop sddm

{{ if and (not .ephemeral) (not .wsl2) (not (env "CONTAINER_ID")) -}}
{{   if .has_init -}}
# Enable sddm
sudorun systemctl enable --now sddm.service
{{-   end }}
{{- end }}

# Flatpak
sudorun env DEBIAN_FRONTEND=noninteractive apt-get -y install flatpak
sudorun flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
{{- end }}

{{ if and (not .work) (not .ephemeral) -}}
# Install, enable, and start Tailscale
sudo mkdir -p --mode=0755 /usr/share/keyrings
curl -fsSL "https://pkgs.tailscale.com/stable/debian/{{ $codename }}.noarmor.gpg" | sudo tee /usr/share/keyrings/tailscale-archive-keyring.gpg >/dev/null
curl -fsSL "https://pkgs.tailscale.com/stable/debian/{{ $codename }}.tailscale-keyring.list" | sudo tee /etc/apt/sources.list.d/tailscale.list
sudorun env DEBIAN_FRONTEND=noninteractive apt-get -y update
sudorun env DEBIAN_FRONTEND=noninteractive apt-get -y install tailscale
{{   if .has_init -}}
sudorun systemctl enable --now tailscaled
sudorun tailscale up
{{-   end }}
{{- end }}
