#!/usr/bin/env chezmoi-exec
#!/usr/bin/env bash

set -euo pipefail

scriptdir=$(cd "$(dirname "$0")" && pwd -P)
PATH="$scriptdir/linux:$scriptdir:$PATH"

# shellcheck source=./common.sh
. "$scriptdir/common.sh" || exit 1

if [ "$(id -u)" != "0" ]; then
    # Re-execute ourselves as root. We need to re-execute the generated temporary file created by chezmoi-exec,
    # but need to make sure we keep overriding $0 to its original path, and overriding $0 in a shell script
    # requires that it be sourced.
    doas env PATH="$PATH" bash -c "exec -a \"$0\" bash -c \". \\\"$CHEZMOI_EXEC_SCRIPT\\\" \\\"$USER\\\"\""
    exit $?
fi

username="$1"
shift

# Verify user shell
apk add --no-interactive zsh
if [ -e /usr/bin/zsh ]; then
    current_shell="$(getent passwd "$username" | sed -e 's#.*:##')"
    if [ "$current_shell" != /usr/bin/zsh ]; then
        msg "Changing current user shell to zsh"
        chsh -s /usr/bin/zsh "$username"
    fi
fi

{{ if .wsl2 -}}
# Install socat for the npiperelay setup
apk add socat
{{- else }}
# Install gnupg
apk add --no-interactive gnupg
{{- end }}

{{ if and (not .ephemeral) (not .wsl2) (not (env "CONTAINER_ID")) -}}
# Enable System logging
if ! dinitctl status syslog-ng | grep -q STARTED; then
    dinitctl enable syslog-ng
fi

# Enable sound
apk add pipewire

# Enable DHCP Client
if ! dinitctl status dhcpcd | grep -q STARTED; then
    dinitctl enable dhcpcd
fi

# Enable bluetooth
apk add bluez
if ! dinitctl status bluetoothd | grep -q STARTED; then
    dinitctl enable bluetoothd
fi
{{- end }}

# Install neovim
apk add --no-interactive neovim

{{ if not .headless -}}
# Install Gnome
apk add --no-interactive gnome

{{ if and (not .ephemeral) (not .wsl2) (not (env "CONTAINER_ID")) -}}
# Enable gdm
if ! dinitctl status gdm | grep -q STARTED; then
    dinitctl enable gdm
fi
{{- end }}

# Install and configure flatpak
apk add --no-interactive flatpak
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
{{- end }}

{{ if .coding -}}
# Development tools
apk add --no-interactive clang gmake cmake ninja
{{- end }}

{{ if .containers -}}
# Container support
apk add --no-interactive podman podman-compose
{{- end }}

# Other languages
apk add --no-interactive cargo go

# Other tools
apk add --no-interactive wget tmux uv zstd patchutils jq fzf unzip ripgrep

# Backup tools (rsync is in main repo)
apk add --no-interactive rsync

# Enable the user repository
apk add --no-interactive chimera-repo-user
apk update

# Available in the user repository
apk add --no-interactive fd eza bat ripgrep sad zoxide tealdeer delta git-absorb shfmt direnv git-lfs github-cli jj restic
