#!/usr/bin/env chezmoi-exec
#!/usr/bin/env bash

{{ if .use_nix -}}
set -euo pipefail

scriptdir=$(cd "$(dirname "$0")" && pwd -P)
PATH="$scriptdir/linux:$scriptdir:$PATH"

# shellcheck source=./common.sh
. "$scriptdir/common.sh" || exit 1

need_sudo

if ! has nix; then
{{   if .ephemeral -}}
    curl --proto '=https' --tlsv1.2 -sSf -L https://nixos.org/nix/install |
        bash -s -- --no-daemon
{{   else -}}
    install_nix
{{   end -}}
fi
{{- end }}
