#!/usr/bin/env chezmoi-exec
#!/usr/bin/env bash

set -euo pipefail

scriptdir=$(cd "$(dirname "$0")" && pwd -P)
PATH="$scriptdir/macos:$scriptdir:$PATH"
DOTFILES_DIR="$(dirname "$scriptdir")"

# shellcheck source=./common.sh
. "$scriptdir/common.sh" || exit 1

{{ if .macos_split_user -}}
export OSX_ADMIN_LOGNAME="{{ .macos_admin_user }}"
if [ "$USER" != "$OSX_ADMIN_LOGNAME" ]; then
    # Re-execute ourselves as the admin user. We need to re-execute the generated temporary file created by chezmoi-exec,
    # but need to make sure we keep overriding $0 to its original path. Since this is a chezmoi-exec generated script,
    # created by the non-admin user, we need to get its contents with sudo and re-execute it with the admin user.
    admindo \
        env PATH="$PATH" \
        CHEZMOI_EXEC_SCRIPT="$CHEZMOI_EXEC_SCRIPT" \
        DOTFILES_DIR="$DOTFILES_DIR" \
        HOMEBREW_PREFIX="$HOMEBREW_ADMIN_PREFIX" \
        ${GITHUB_TOKEN:+GITHUB_TOKEN="$GITHUB_TOKEN"} \
        bash -c ". \"$scriptdir/common.sh\"; need_sudo; sudorun cat \"$CHEZMOI_EXEC_SCRIPT\" | exec -a \"$0\" bash -s -- \"$USER\""
    exit $?
fi

# Bootstrap dotfiles for the admin user to allow for templating
"$DOTFILES_DIR/script/bootstrap"

need_sudo

# Hide admin user from the login window
sudorun dscl . create "/Users/$USER" IsHidden 1

# Hide admin user home directory
sudorun chflags hidden "/Users/$USER"

# Remove admin user from FileVault
if sudorun fdesetup list | grep "^$USER," >/dev/null; then
    sudorun fdesetup remove -user "$USER"
fi
{{ else }}
need_sudo
{{- end }}

if ! [ -e /nix ]; then
    install_nix
fi

if ! [ -x "$HOMEBREW_PREFIX/bin/brew" ]; then
    msg "Installing homebrew"
    install-brew -s "$HOMEBREW_PREFIX" || {
        rm -rf "$HOMEBREW_PREFIX"
        die "Failed to install homebrew"
    }
fi

msg "Installing applications with homebrew"
brewfile_install "$scriptdir/macos/Brewfile-admin"

if [ -d "$scriptdir/macos/Brewfile-admin.d" ]; then
    find "$scriptdir/macos/Brewfile-admin.d" -type f -not -name .keep -not -name .DS_Store |
        while read -r brewfile; do
            brewfile_install "$brewfile" || :
        done
fi

{{ if not .work -}}
# The IT department has their own security tools, so skip the ones I use
CASKROOM="$("$HOMEBREW_PREFIX/bin/brew" --caskroom)"
if [ -d "$CASKROOM"/whatsyoursign ]; then
    find "$CASKROOM"/whatsyoursign -name WhatsYourSign\ Installer.app -print0 |
        xargs -0 open || :
fi

install-oversight
{{- end }}

# Configuration
#"$scriptdir/macos/configure-admin.tmpl"
