#!/usr/bin/env bash

set -euo pipefail

scriptdir=$(cd "$(dirname "$0")" && pwd -P)
PATH="$scriptdir/debian:$scriptdir/linux:$scriptdir:$PATH"

# shellcheck source=./common.sh
. "$scriptdir/common.sh" || exit 1

# Install xz for nix
if ! has xz; then
    sudorun dnf -y --setopt=install_weak_deps=False install xz
fi

# Install zsh
if ! has zsh; then
    sudorun dnf -y --setopt=install_weak_deps=False install zsh
fi

# Install neovim
sudorun dnf -y --setopt=install_weak_deps=False install neovim
