#!/usr/bin/env chezmoi-exec
#!/bin/sh

set -e

scriptdir=$(cd "$(dirname "$0")" && pwd -P)
repodir=$(dirname "$scriptdir")
PATH="$scriptdir/freebsd:$scriptdir:$PATH"

# shellcheck source=./common.sh
. "$scriptdir/common.sh" || exit 1

# Dotfiles
if [ -z "${CHEZMOI:-}" ]; then
    "$repodir/script/setup"
fi
