#!/usr/bin/env chezmoi-exec
#!/usr/bin/env bash

set -euo pipefail

scriptdir=$(cd "$(dirname "$0")" && pwd -P)
PATH="$scriptdir/linux:$scriptdir:$PATH"

# shellcheck source=./common.sh
. "$scriptdir/common.sh" || exit 1

if [ "$(id -u)" != "0" ]; then
    # Re-execute ourselves as root. We need to re-execute the generated temporary file created by chezmoi-exec,
    # but need to make sure we keep overriding $0 to its original path, and overriding $0 in a shell script
    # requires that it be sourced.
    doas env PATH="$PATH" bash -c "exec -a \"$0\" bash -c \". \\\"$CHEZMOI_EXEC_SCRIPT\\\" \\\"$USER\\\"\""
    exit $?
fi

username="$1"
shift

# Verify user shell
apk add --no-interactive zsh

{{ if .wsl2 -}}
# Install socat for the npiperelay setup
apk add socat
{{- else }}
# Install gnupg
apk add --no-interactive gnupg
{{- end }}

{{ if and (not .ephemeral) (not .wsl2) (not (env "CONTAINER_ID")) -}}
{{ if .has_init -}}
# Enable System logging
if ! dinitctl status syslog-ng | grep STARTED >/dev/null; then
    dinitctl enable syslog-ng
fi

# Enable sound
apk add pipewire

# Enable NetworkManager
apk add --no-interactive networkmanager
if ! dinitctl status networkmanager | grep STARTED >/dev/null; then
    dinitctl enable networkmanager
fi

# Enable bluetooth
apk add --no-interactive bluez
if ! dinitctl status bluetoothd | grep STARTED >/dev/null; then
    dinitctl enable bluetoothd
fi

# Enable sshd
if ! dinitctl status sshd | grep STARTED >/dev/null; then
    dinitctl enable sshd
    dinitctl start sshd
fi
{{- end }}
{{- end }}

# Install neovim
apk add --no-interactive neovim

{{ if not .headless -}}
# Install KDE Plasma
apk add --no-interactive plasma-desktop okular filelight pinentry-qt

{{ if and (not .ephemeral) (not .wsl2) (not (env "CONTAINER_ID")) -}}
{{   if .has_init -}}
# Enable sddm
if ! dinitctl status sddm | grep STARTED >/dev/null; then
    dinitctl enable sddm
    dinitctl start sddm
fi
{{-   end }}
{{- end }}

# Install and configure flatpak
apk add --no-interactive flatpak
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
{{- end }}

{{ if .coding -}}
# Development tools
apk add --no-interactive clang gmake cmake ninja
{{- end }}

{{ if .containers -}}
# Container support
apk add --no-interactive podman podman-compose
{{- end }}

# Other languages
apk add --no-interactive cargo go nodejs

# Other tools
apk add --no-interactive openssh wget tmux zstd patchutils jq fzf unzip

# Backup tools (rsync is in main repo)
apk add --no-interactive rsync

{{ if and (not .work) (not .ephemeral) -}}
# VPN
apk add --no-interactive tailscale
{{- end }}

# Enable the user repository
apk add --no-interactive chimera-repo-user
apk update

# Available in the user repository
apk add --no-interactive fd eza bat ripgrep sad zoxide tealdeer delta git-absorb shfmt direnv git-lfs github-cli jj restic difftastic atuin uv
{{ if and .user_setup (not .work) (not .ephemeral) -}}
# Keyboard remapper
apk add --no-interactive kanata
{{- end }}

{{ if not .headless -}}
# Terminal emulator (user repository)
apk add --no-interactive kitty
{{- end }}
