#!/usr/bin/env chezmoi-exec
#!/usr/bin/env bash

set -euo pipefail

scriptdir=$(cd "$(dirname "$0")" && pwd -P)
repodir=$(dirname "$scriptdir")
PATH="$scriptdir/linux:$scriptdir:$HOME/.local/bin:$PATH"
tmpdir=$(mktemp -d -t "${0##*/}.XXXXXXX")
trap 'rm -rf "$tmpdir"' EXIT INT TERM

# shellcheck source=./common.sh
. "$scriptdir/common.sh" || exit 1

ret=0

# Dotfiles
if [ -z "${CHEZMOI:-}" ]; then
    "$repodir/script/setup" || ret=$?
    if ! [ -e ~/.local/bin/uv ]; then
        # If the chezmoi apply failed due to a script or the like, we could end
        # up without our externals. Explicitly attempt to apply those.
        chezmoi apply ~/.local/bin ||language ret=$?
    fi
fi

{{- if and .user_setup (not .use_nix) -}}
{{ if and (not .headless) (not .steamdeck) (not (env "CONTAINER_ID")) -}}
if ! has zed; then
    msg "Installing Zed"
    curl -f https://zed.dev/install.sh | sh
fi

{{ if not .work -}}
if ! has claude; then
    msg "Installing Claude Code"
    curl -fsSL https://claude.ai/install.sh | bash
fi
{{- end }}
{{- end }}
{{- end }}

{{ if and (not .ephemeral) (not .steamdeck) (not (env "CONTAINER_ID")) -}}
{{   $devpod := includeTemplate "find-tool" (dict "root" . "tool" "devpod") -}}
{{   if $devpod -}}
# Configure DevPod
devpod_configure \
    "https://github.com/kergoth/dotfiles" \
    "script/setup" \
    "$HOME/.ssh/config.d/devpod" \
    "docker" || ret=$?
{{-   end }}

# User shell should be zsh
zsh_binary=$(command -v zsh 2>/dev/null) || :
if [ -n "$zsh_binary" ] && grep -qFx "$zsh_binary" /etc/shells; then
    if [ "$(getent passwd "$(id -un)" | awk -F : '{print $NF}')" != "$zsh_binary" ]; then
        msg "Changing user shell to zsh"
        # Failure is ignored here, as in some cases the user password might not be
        # known or set, as is the case with some container usage.
        chsh -s "$zsh_binary" || ret=$?
    fi
fi
{{- end }}

exit $ret
