{{- /* Catppuccin Latte mauve theme for gh-dash (ADR-0005 CLITHEME) */ -}}
{{ includeTemplate (joinPath .chezmoi.workingTree "settings/gh-dash/config.yml.tmpl") (dict
    "text_primary"    "#4c4f69"
    "text_secondary"  "#8839ef"
    "text_inverted"   "#dce0e8"
    "text_faint"      "#5c5f77"
    "text_warning"    "#df8e1d"
    "text_success"    "#40a02b"
    "bg_selected"     "#ccd0da"
    "border_primary"  "#8839ef"
    "border_secondary" "#bcc0cc"
    "border_faint"    "#ccd0da"
) -}}
