dev.zed.Zed public.utf8-plain-text editor
dev.zed.Zed public.plain-text editor
dev.zed.Zed public.text editor
dev.zed.Zed .md editor
dev.zed.Zed .txt editor
com.transgui .torrent viewer
com.apple.iBooksX org.idpf.epub-container viewer
com.apple.iBooksX org.idpf.epub-folder viewer
com.apple.iBooksX com.apple.ibooks.epub viewer
com.aone.keka com.apple.archive viewer
com.aone.keka com.apple.encrypted-archive viewer
com.aone.keka org.7-zip.7-zip-archive viewer
com.aone.keka org.gnu.gnu-tar-archive viewer
com.aone.keka org.gnu.gnu-zip-archive viewer
com.aone.keka org.gnu.gnu-zip-tar-archive viewer
com.aone.keka org.tukaani.tar-xz-archive viewer
com.aone.keka org.tukaani.xz-archive viewer
com.aone.keka public.bzip2-archive viewer
com.aone.keka public.cpio-archive viewer
com.aone.keka public.tar-archive viewer
com.aone.keka public.tar-bzip2-archive viewer
com.aone.keka zip viewer
com.aone.keka 7z viewer
com.aone.keka rar viewer
com.aone.keka tar viewer
com.aone.keka gz viewer
com.aone.keka bz2 viewer
com.aone.keka xz viewer
com.aone.keka zst viewer
com.aone.keka zstd viewer
