[Unit]
Description=Run a backup if it's overdue
After=network.target

[Service]
ExecStart=%h/.local/bin/deck-backup
ExecStartPre=/bin/sleep 1
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=default.target
