{{- if .secrets -}}
{{-   $ageKeyPath := .chezmoi.config.age.identity -}}
{{-   $st := stat $ageKeyPath -}}
{{-   if or (not $st) (eq $st.size 0) -}}
{{-     $op := includeTemplate "find-tool" (dict "root" . "tool" "op") -}}
{{-     if not $op -}}
#!/bin/sh
# Age key: {{ $st }}

tmpdir=$(mktemp -d -t install-package-manager.XXXXXX)
trap 'rm -rf "$tmpdir"' EXIT INT TERM

case "$(uname -m)" in
amd64)
    ARCH=amd64
    ;;
arm64|aarch64)
    ARCH=arm64
    ;;
i386)
    ARCH=386
    ;;
armv*)
    ARCH=arm
    ;;
*)
    echo >&2 "Error: unsupported arch from uname -m: $(uname -m)"
    exit 1
    ;;
esac
fetch -o "$tmpdir/op.zip" "https://cache.agilebits.com/dist/1P/op2/pkg/v2.32.1/op_freebsd_${ARCH}_v2.32.1.zip" &&
    unzip -d ~/.local/bin "$tmpdir/op.zip" op
chmod +x ~/.local/bin/op
{{-     end -}}
{{-   end -}}
{{- end -}}
