{{- if and .user_setup (not .use_nix) -}}
{{-   $cargo_tools := dict "choose" "choose" "atuin" "atuin" -}}
{{-   $to_install := includeTemplate "packagesForMissingTools" (dict "root" . "packages" $cargo_tools) | fromJson -}}
{{-   if $to_install -}}
{{-     $cargo := includeTemplate "find-tool" (dict "root" . "tool" "cargo") -}}
{{-     if $cargo -}}
#!/bin/sh
set -eu

{{-       range $to_install }}
echo >&2 "Installing {{ . }}"
"{{ $cargo }}" install --locked {{ . }}
{{-       end }}
{{-     end }}
{{-   end }}
{{- end }}
