{{- if and .user_setup (not .use_nix) .work -}}
{{-   $go_tools := dict "jira" "github.com/ankitpokhrel/jira-cli/...@latest" -}}
{{-   $to_install := includeTemplate "packagesForMissingTools" (dict "root" . "packages" $go_tools) | fromJson -}}
{{-   if $to_install -}}
{{-     $go := includeTemplate "find-tool" (dict "root" . "tool" "go") -}}
{{-     if $go -}}
#!/bin/sh
set -eu

{{-       range $to_install }}
echo >&2 "Installing go tool: {{ . }}"
"{{ $go }}" install {{ . }}
{{-       end }}
{{-     end }}
{{-   end }}
{{- end }}
